
{:template-id "8adb2d70406011eb922226635d7a8a5f", :topic :math}

==sepa==



<p>
    Isi blank di persamaan ini : <br>
    {{a}} + {{b}} = {{c}} <br>
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}} ==
false::{{p4}}

==sepa==

<p>

    Sebenernya ini sederhana aja kan {{ab}} + {{bb}} = {{cb}} <br>
    Nah yang penting gimana caranya supaya cepet dan kreatif. <br>
    Beberapa contoh : (Jangan diapal tapi ya!) <br><br>
    - Puluhan tambah puluhan aja dulu <br>
    - Baru tambah satuan +  satuan <br>
    - Kalo hasil satuan + satuan > 10 ya tinggal tambahin ke hasil jumlah puluhan <br>
</p>