
{:template-id "03a1a0d0479711eb8ab2384c477251df", :topic :math}

==sepa==

<p>
    {{a}} / {{b}} = ?
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
    Sebenernya kan gini ya, {{a}} / {{b}} mikirnya {{a}} div {{b}} jadi bilbulnya... <br>
    terus {{a}} mod {{b}} jadi sisanya tinggal dibagi {{b}}, jadi lah {{pb}} <br>
    <br>
    Contoh nih 25 / 4 => cari terdekat kelipatan 4 kurang dr 25, jadi 24 => 6. <br>
    sisa 1, jadi 6 1/4. <br> <br>
    Contoh lagi 35 / 6 => terdekat 30 ( 6 x 5 ) => jadi 5 sisa 5, so 5 5/6.
</p>