
{:template-id "7a44bfb0417f11eba53b81e59324e143", :topic :math}

==sepa==

<p>
    Isi blank di persamaan ini : <br>
    {{a}} x {{b}} = _____
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}} ==
false::{{p4}}

==sepa==

<p>
    Ini seharusnya udah bisa ya, tinggal bikin makin cepet dan lancar aja. <br>
    One tip : Coba tulis berulang2x yang cepet kelipatan untuk bilangan bulat penting <br>
    Misal kelipatan 7 : 7 14 21 28 dst sampe at least 7 x 15an lah. <br>
    Tapi jangan diapalin, cuma latihan untuk generating deretnya sendiri aja. <br>
    Ini bisa bikin ngitung makin cepet seharusnya :)
</p>