
{:template-id "8adc17d0406011eb922226635d7a8a5f", :topic :logic}

==sepa==

<p>

 Diketahui informasi sebagai berikut <br>
 Ada {{a}} yang {{b}} <br>
 Kesimpulan: <br>
 Ada {{a}} yang tidak {{b}}

</p>

==options==

false::Valid ==
true::Tidak valid

==sepa==

<p>

 Fakta yang kita ketahui cuma bahwa ada {{a}} yang {{b}} <br>
 Hal ini secara logika ga bisa kita ambil kesimpulan apa pun kecuali <br>
 pernyataannya itu sendiri.
 Misal kalo kita bilang ada {{pa}}, <br>
 bukan berarti bahwa ada kan yang {{pb}} hehe.

</p>