
{:template-id "8adcb410406011eb922226635d7a8a5f", :topic :logic}

==sepa==


<p>
 Diketahui beberapa informasi berikut: <br>
 - Semua yang {{a}} {{b}} <br>
 - {{c}} tidak {{b}} <br>
 <br>
 Kesimpulan: {{c}} tidak {{a}}

</p>

==options==

true::Valid ==
false::Tidak valid

==sepa==

<p>

 Kita tahu bahwa SEMUA yang {{a}} kan {{b}}. <br>
 Berarti udah pasti dong kalo {{a}} ya pasti {{b}} lah. <br>
 Jadi kalo dia ngga {{b}} pasti banget juga ngga {{a}} <br>
 Berarti kalo si {{c}} itu ga {{b}} ya pasti lah dia ngga {{a}}

</p>