
{:template-id "38ed619049ed11eb95ec1fbb61233aaf", :topic :logic}

==sepa==

<p>
 Premis 1 : {{p}} jika dan hanya jika {{q}} <br><br>
 Premis 2 : {{op}} <br><br>
 Mana kesimpulan yang benar sesuai premis di atas:

</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}}

==sepa==

<p>
 Betuk "jika dan hanya jika" itu maksudnya p <=> q <br>
 Dimana ini logikanya ekuivalen sama p -> q DAN q -> p <br>
 Nah jadi kalo p <-> q, ya kalo p pasti q dan kalo q pasti p <br>
 Kalo ga q gimana? ya ga p, dan kalo ga p ya ga q <br>
 So karena {{p}} <-> {{q}} dan {{op}} <br>
</p>