
{:template-id "176e36a049d611eb95ec1fbb61233aaf", :topic :logic}

==sepa==


<p>
 Sebagian {{a}} tidak {{b}} <br>
 Kesimpulan : Sebagian {{a}} {{b}} <br>
</p>

==options==

true::Tidak Valid ==
false::Valid

==sepa==

<p>

 This is the problem pemakaian kata sebagian <br>
 Jadi bagusnya tuh pake ada ya, jadi ganti aja pake ada <br>
 Karena kalo pake ada jadi jelas aturan logikanya <br>
 Ada manusia yang tingginya kurang dari 10 meter. <br>
 Apa jadi ada manusia yang tingginya ga kurang dari 10 meter? <br>

</p>