{:template-id "03419e10173d459fb509b340453b63a0", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br> 
Interpretasi citra dilakukan dalam beberapa tahapan secara berurutan, yaitu:<br>
<ol>
<li>Deteksi, yaitu kegiatan mencari, menemukan, menjumpai, atau memastikan keberadaan objek atau data yang sifatnya umum.</li>
<li>Identifikasi, yaitu kegiatan mengenali, menandai, atau mencatat objek berdasarkan ciri-ciri tertentu baik ciri spektral, spasial, maupun temporal.</li>
<li>Analisis, yaitu kegiatan mengelompokkan, menelaah, atau menguraikan data dan pola keruangan objek ke dalam bentuk tabel, grafik, atau peta.</li>
<li>Deduksi, yaitu kegiatan menyimpulkan, menarik konklusi, atau menentukan jenis objek setelah pengamatan berulang untuk validasi atau memastikan kebenaran hasil interpretasi.</li>
</ol>
Gimana? Udah jelas 'kan, ya? Asah terus keterampilan dan pemahaman kamu dengan mengerjakan soal-soal ZenPractice, ya!							