
{:template-id "ec660a604b9611ebb2bcb7375dfef9af", :topic :math}

==sepa==

<p>
    Didefinisikan suatu operasi @ dengan hasil sbb : <br><br>
    {{a1}} @ {{b1}} = {{ab1}} <br>
    {{a2}} @ {{b2}} = {{ab2}} <br>
    {{a3}} @ {{b3}} = {{ab3}} <br>
    {{a4}} @ {{b4}} = {{ab4}} <br><br>

    Berapa nilai {{p}} @ {{q}} ? <br><br>


    Disclaimer: Soal ga pas buat mat, tapi bagus untuk latihan nebak definisi and induksi <br>
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
    Hayo udah bisa belom dapet formula untuk operasi @ ? <br><br>
    Jawabannya {{pb}} ya, ga seru kalo dikasih formulanya, jadi gampang hehe
</p>