
{:template-id "6aed0e304b8b11ebb2bcb7375dfef9af", :topic :math}

==sepa==

<p>
    Tentukan 3 bilangan yg pas untuk nerusin barisan ini: <br><br>
    {{bar5}} <br><br>

    Disclaimer: soal kayak gini sebenernya jelek kalo dibilang soal matematik
    Karena sebenernya ada banyak possible answers, tapi karena skills menginduksi itu penting
    yaudah jadi mesti ada latihannya, ini latihan untuk menginduksi
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
    Ini jelas barisan yang ketebak banget lah ya... hehehe <br>
    Jawab langsung {{pb}} <br>
    <br>
    Disclaimer: soal kayak gini sebenernya jelek kalo dibilang soal matematik
    Karena sebenernya ada banyak possible answers, tapi karena skills menginduksi itu penting
    yaudah jadi mesti ada latihannya, ini latihan untuk menginduksi
</p>