
{:template-id "ab426b4049e411eb95ec1fbb61233aaf", :topic :logic}

==sepa==

<p>
 Premis 1 : {{p}} hanya jika {{q}} <br><br>
 Premis 2 : {{op}} <br><br>
 Mana kesimpulan yang benar sesuai premis di atas:

</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}}

==sepa==

<p>
 Bentuk p hanya jika q itu ya sama aja kayak p -> q <br>
 Coba pikir deh p hanya jika q, berarti kalo p ya pasti q kan? <br>
 Bukan berarti di realitasnya harus sebab akibat, <br>
 tapi kita cuma tau kalo p ya pasti q <br>
 Bentuk logic ini jelas p -> q <br>
 Bentuk p -> q itu jelas kalo p ya maka q <br>
 diluar itu cuma satu kemungkinan yang pasti yaitu ~q -> ~p <br>
 Jadi kalo {{op}} ya {{pb}} <br>
</p>