
{:template-id "a08f18804a0011eb95ec1fbb61233aaf", :topic :logic}

==sepa==

<p>
 Premis 1 : Jika {{p}} maka {{q}} <br><br>
 Premis 2 : {{q}} hanya jika {{r}} <br><br>
 Premis 3 : {{pqr}} <br><br>

 Mana kesimpulan yang pasti benar :

</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}}

==sepa==

<p>
 Inget p hanya jika q maksudnya sama aja kayak p -> q <br>
 Jadi ini mah bentuk p -> q & q -> r. <br>
 Jadi p = {{p}} <br>
 q = {{q}} <br>
 r = {{r}} <br>
 So kalo {{pqr}} ya jadinya {{pb}} <br>
</p>