{:template-id "03419def3a494d3cac3423c067405010", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Citra nonfoto adalah citra hasil pengindraan jauh yang dihasilkan oleh sensor nonfotografi (bukan kamera). Citra ini menggunakan sensor <i>scanning</i>. Detektor yang digunakan berupa pita magnetik dan proses perekamannya dilakukan secara elektronik. Beberapa contoh citra nonfoto antara lain citra dirgantara, citra satelit, citra multispektral, dan lain-lain.<br>
<br>
Gimana? Udah jelas 'kan, ya? Yuk, coba kerjain terus soal-soalnya biar makin paham!							