
{:template-id "c204da104ac611eb95ec1fbb61233aaf", :topic :math}

==sepa==

<p>
    Garis yang melalui titik ({{x1}},{{y1}}) & ({{x2}},{{y2}}) <br>
    memiliki gradien :
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}


==sepa==

<p>
    Inget, gradien m = delta y/ delta x. <br>
    Nah mana yang duluan y2-y1/x2-x1 apa sebaliknya ? <br>
    BEBAS! yg penting konsisten kalo y2-y1 ya x2-x1 <br>
    Kalo y1-y2 ya x1-x2 <br> urutan mana yg 1 & 2 penting bingitz!! <br>
    Yaudah jadi {{y1}}-{{y2}}/{{x1}}-{{x2}} = {{pb}} yak <br>
</p>