{:template-id "03419d69f64d43c4b80c4d3f579c9c3d", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar jelas, ya!<br>
<br> 
Proyeksi terdiri dari beberapa komponen, antara lain proyeksian, proyeksitor, garis proyektor, hasil proyeksi, dan garis hasil proyeksi.<br>
Nah, yang dimaksud dengan hasil proyeksi adalah bayangan yang dihasilkan dari suatu proyeksian atau objek yang diproyeksikan.<br>
<br> 
Gimana? Udah jelas? Kerjain terus soal-soal ZenPractice biar makin paham, ya!							