{:template-id "03419d2821924fa68cf8be66f9e2936c", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar jelas, ya!<br>
<br>
Proyeksi terdiri dari beberapa komponen, antara lain proyeksian, proyeksitor, garis proyektor, hasil proyeksi, dan garis hasil proyeksi.<br>
Nah, yang dimaksud dengan proyeksian adalah titik, garis, atau bidang yang diproyeksikan. Jadi, objek yang diproyeksikan bisa salah satu dari ketiga-tiganya (titik, garis, atau bidang).<br>
<br>
Gimana? Udah jelas? Kerjain terus soal-soal ZenPractice biar makin paham, ya!							