{:template-id "0341c3e4e6984ca8b265716aadc1d299", :topic :geography}

==sepa==
<p>
{{image}}
<br>
Coba perhatikan peta hasil proyeksi {{tipe}} di atas, deh!
<br><br>
Bagian peta yang mengalami distorsi yang {{jnis}} adalah .... 
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}}

==sepa==

<p>
Gimana, jawaban teman-teman udah benar atau belum? <br>
Coba kita lihat keterangan huruf pada gambar di bawah ini, ya!
<ol>
    <li><b>A</b> dan <b>B</b> adalah daerah khatulistiwa atau lintang rendah, daerah ini mengalami distorsi rendah jika menggunakan proyeksi Mercator dan Robinson.</li>
    <li><b>C</b> dan <b>D</b> adalah daerah lintang sedang, daerah ini mengalami distorsi rendah jika menggunakan proyeksi Gall-Peters dan Robinson.</li>
    <li><b>E</b> dan <b>F</b> adalah daerah lintang tinggi, daerah ini mengalami distorsi yang tinggi jika menggunakan proyeksi silinder baik Mercator dan Gall-Peters.</li>
</ol>
Gimana? Udah jelas 'kan, ya?
Asah terus pemahaman dan kemampuan kamu dengan mengerjakan soal-soal ZPS, ya!
</p>							