{:template-id "03419d82959c4c9198a21c2f2a94b486", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar jelas, ya!<br>
<br> 
Proyeksi terdiri dari beberapa komponen, antara lain proyeksian, proyeksitor, garis proyektor, hasil proyeksi, dan garis hasil proyeksi.<br>
Nah, yang dimaksud dengan garis hasil proyeksi adalah garis pada bidang proyeksi yang berpotongan tegak lurus terhadap garis proyektor.<br>
<br> 
Gimana? Udah jelas? Kerjain terus soal-soal ZenPractice biar makin paham, ya!							