{:template-id "033eb683af71490c98f12683e442c61c", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Ketergantungan antarruang mendorong terjadinya hubungan antara penyelenggaraan pendidikan di kota dan di desa. Tidak semua desa di Indonesia memiliki infrastruktur dan kualitas sumber daya pendidikan yang memadai. Oleh karena itu, beberapa dari penduduk desa tersebut akan pergi ke kota untuk memperoleh pendidikan yang baik. Sekolah-sekolah di kota juga bisa memperoleh keuntungan dari hal tersebut karena biasanya murid yang datang dari desa ke kota sudah mempersiapkan bekal yang baik dan niat yang kuat untuk terus giat dalam belajar.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							