{:template-id "0339d8a3ffe14112939d41dfb33d96a8", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Atas dasar habis tidaknya suatu benda pada saat dikonsumsi, benda konsumsi dapat dibedakan menjadi dua macam, yaitu benda yang habis dalam sekali pemakaian dan benda yang dapat dipakai secara berulang-ulang. {{pembahasan}}<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							