{:template-id "033eb5fb5e4547b79663c5a3ff43c74c", :topic :smp-ips}

==sepa==

<p>
{{pengantar}}{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Pandemi COVID-19 telah membawa dampak yang signifikan bagi kehidupan masyarakat, salah satunya adalah pemanfaatan teknologi dalam pendidikan. Pendidikan jarak jauh selama pandemi COVID-19 mempercepat pemanfaatan teknologi untuk kegiatan pendidikan di seluruh dunia. Penggunaan teknologi dalam pendidikan memiliki kelebihan dan kekurangan.<br> 
Berikut ini adalah beberapa kelebihan penggunaan teknologi dalam pendidkan.<br>
<ol>
<li>Memperkenalkan pembelajaran mandiri kepada siswa.</li>
<li>Mendorong pengembangan metode pengajaran baru dengan memanfaatkan teknologi.</li>
<li>Menciptakan cara belajar yang lebih efektif dan efisien.</li>
<li>Mempermudah siswa untuk memperoleh beragam informasi melalui internet.</li>
<li>Memberikan kenyamanan dalam belajar karena siswa dapat belajar di mana saja dan kapan saja.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!												