{:template-id "033ae4db5d4d4e9c93ef599913ce6975", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Pada sebelumnya, kita udah belajar tentang faktor penekan migrasi yang berasal dari wilayah asal dan faktor penarik yang berkaitan dengan wilayah tujuan. Salah satu contoh faktor penariknya adalah ketersediaan lapangan kerja di wilayah tujuan. Coba kita pikir, deh! Kalo lapangan pekerjaan yang tersedia di suatu wilayah lebih luas dan beragam, otomatis banyak orang yang akan meninggalkan wilayah asalnya, lalu berpindah ke wilayah tujuan tersebut. Dengan begitu, jumlah tenaga kerja di wilayah tujuan akan semakin meningkat, sehingga akan berdampak pula pada peningkatan produktivitas dan taraf perekonomian di wilayah tujuan.<br>
<br>
Akan tetapi, pengaruh positif tersebut biasanya juga diikuti oleh pengaruh negatif apabila kebijakan yang mengatur para migran tidak dikelola dengan baik. Peningkatan jumlah tenaga kerja yang tidak terkendali bisa meningkatkan kepadatan penduduk di wilayah tujuan. Kepadatan penduduk yang tidak terkendali akhirnya juga meningkatkan persaingan tenaga kerja di wilayah tujuan. Selain itu, wilayah asal juga bisa memperoleh pengaruh negatif akibat ketergantungan antarruang pada migrasi penduduk. Banyaknya tenaga kerja yang meninggalkan wilayah asal akhirnya membuat penduduk usia produktif di wilayah tersebut menjadi berkurang. Tingkat keamanan wilayah asal juga berkurang karena hanya menyisakan penduduk lanjut usia.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							