{:template-id "0339d82270cd4650aa82c622f949cd43", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Benda konsumsi adalah benda yang langsung dapat digunakan tanpa diolah terlebih dahulu dalam penggunaannya. Berikut ini adalah beberapa ciri benda konsumsi.<br>
<ol>
<li>Diperlukan pengorbanan untuk memperoleh benda konsumsi.</li>
<li>Benda yang dikonsumsi ditujukan untuk memenuhi kebutuhan hidup.</li>
<li>Nilai benda yang digunakan akan habis secara bertahap atau sekaligus.</li>
<li>Benda konsumsi akan dipasarkan di pasar <i>output</i>.</li>
<li>Benda konsumsi lebih banyak digunakan oleh konsumen.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							