{:template-id "03406af7d4674db7a243797d3048b99d", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
  <li>{{fakta4}}</li>
  <li>{{fakta5}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Asia Pacific Economic Cooperation (APEC) atau Kerja Sama Ekonomi Asia Pasifik dibentuk pada tahun 1989. APEC adalah bentuk kerja sama ekonomi regional antara negara-negara yang berada di kawasan Asia Pasifik yang saat ini anggotanya berjumlah 21 negara, antara lain Amerika Serikat, Australia, Brunei Darussalam, Chile, Filipina, Hong Kong, Indonesia, Jepang, Kanada, Korea Selatan, Malaysia, Meksiko, Taiwan, Thailand, Tiongkok, Papua Nugini, Peru, Rusia, Selandia Baru, Singapura, dan Vietnam.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							