{:template-id "033f61fb5eb4412485f113eec7824a10", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Pada Konferensi Tingkat Tinggi (KTT) ASEAN tahun 2003 disepakati pembentukan ASEAN Community atau Masyarakat ASEAN yang salah satu pilarnya adalah ASEAN Economic Community (AEC) atau Masyarakat Ekonomi ASEAN (MEA). MEA adalah perwujudan dari tujuan integrasi ekonomi ASEAN. Tujuan pembentukan MEA antara lain sebagai berikut:<br>
<ol>
<li>Mewujudkan ASEAN sebagai kawasan pasar tunggal dan basis produksi.</li>
<li>Mewujudkan ASEAN sebagai kawasan berdaya saing tinggi di dunia.</li>
<li>Mewujudkan ASEAN sebagai kawasan dengan pembangunan ekonomi yang merata.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								