{:template-id "033b0d2ec7a74639be91c8faeaca8a86", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Teknologi transportasi terus mengalami perkembangan dalam segi efektivitas dan efisiensi sesuai dengan kebutuhan manusia. Di setiap negara, termasuk Indonesia, perkembangan teknologi transportasi sangat dipengaruhi oleh kondisi geografis dan pengaruh budaya luar sebagai bagian dari globalisasi. Perkembangan teknologi transportasi Indonesia dapat dibagi ke dalam empat masa, yaitu masa Kolonial, masa Orde Lama (1945 s.d. 1966), masa Orde Baru (1966 s.d. 1998), dan masa Reformasi (1998 s.d. sekarang).<br>
Pada masa Orde Lama, lebih tepatnya tahun 1960, oplet mulai beroperasi di Jakarta. Kendaraan oplet ini kembali dipopulerkan dalam serial terkenal "Si Doel Anak Sekolahan". Selain oplet, bemo juga menjadi salah satu moda transportasi populer pada tahun 1962. Popularitas bemo ini sempat meredup pada tahun 1971 lantaran bemo dianggap tidak ramah lingkungan. Selain itu, metromini juga mulai diperkenalkan pada tahun 1962. Awalnya, metromini hanya digunakan untuk ajang Pekan Olahraga Nasional, tetapi akhirnya terus digunakan hingga saat ini.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!