{:template-id "033eb6cb6e48414d899ee8542b78c866", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Lembaga ekonomi merupakan bagian dari lembaga sosial yang diperlukan dalam pelaksanaan kegiatan ekonomi berupa produksi, distribusi, dan konsumsi barang dan jasa yang bertujuan memenuhi kebutuhan harian dan kesejahteraan material masyarakat.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								