{:template-id "033f621c20c148bb80147e9f85dd1673", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Pembentukan ASEAN Economic Community (AEC) atau Masyarakat Ekonomi ASEAN (MEA) bertujuan mewujudkan perkembangan ekonomi yang setara dan kompetitif di wilayah ASEAN sehingga diharapkan dapat memberikan dampak positif bagi perkembangan ekonomi negara-negara anggota ASEAN. Berikut adalah manfaat MEA bagi Indonesia.<br>
<ol>
<li>Indonesia dapat memimpin pasar ASEAN melalui penguasaan pasar dan investasi dikarenakan luas wilayah dan penduduknya yang terbesar di ASEAN.</li>
<li>Indonesia menjadi tujuan investasi bagi negara-negara ASEAN lainnya.</li>
<li>Pasokan barang di kawasan ASEAN lebih terjamin tanpa hambatan tarif dan pelaku usaha terdorong menghasilkan barang berkualitas secara efisien.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								