{:template-id "033930969658421c965449374effc132", :topic :smp-ips}

==sepa==

<p>
{{pengantar}}{{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Kedelai merupakan salah satu hasil produksi pertanian sekaligus bahan baku industri yang cukup besar di Indonesia. Pada tahun 2012, produksi kedelai di Indonesia mencapai 850.000 ton. Selain dipakai sebagai bahan konsumsi, kedelai biasanya juga dipakai sebagai bahan industri tempe, tahu, susu kedelai, kecap, dan sebagai salah satu bahan ekspor nonmigas. Kedelai biasanya dibudidayakan pada lahan, seperti sawah tadah hujan, ladang, dan tegalan. Beberapa provinsi penghasil kedelai di Indonesia antara lain Lampung, Jawa Tengah, Jawa Timur, dan Nusa Tenggara Timur (NTT).<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!											