{:template-id "03406abafba4436e923459e0abd17262", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
ASEAN Free Trade Area (AFTA) atau Kawasan Perdagangan Bebas ASEAN telah ditetapkan sejak 31 Desember 2015 dengan tujuan meningkatkan perdagangan antarnegara ASEAN, menarik investor asing, dan menjadikan wilayah ASEAN sebagai basis produksi yang kompetitif secara global. Berikut ini adalah manfaat yang dapat diperoleh dari pembentukan ASEAN Free Trade Area (AFTA).<br>
<ol>
<li>Mendorong penurunan harga produk di seluruh wilayah ASEAN dengan penghapusan tarif.</li>
<li>Mendorong kompetisi, inovasi, dan perluasan pasar regional maupun internasional.</li>
<li>Membantu produk-produk negara ASEAN memasuki pasar regional.</li>
<li>Sejumlah pabrik di negara ASEAN dapat memperoleh bahan baku yang lebih murah.</i>
<li>Menjadikan ASEAN sebagai pasar tunggal yang kuat.</i>
<li>Menarik investor dari luar negeri.</i>
<li>Pelaku usaha dapat melakukan bisnis di ASEAN secara mudah dan cepat.</i>
<li>Tenaga kerja profesional dapat memperoleh pekerjaan lebih baik di negara-negara ASEAN.</i>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								