{:template-id "033b2589aa3145e7b932e650bfbc2c57", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Satuan pendidikan adalah kelompok layanan pendidikan yang menyelenggarakan pendidikan pada jalur formal, nonformal, dan informal pada setiap jenjang dan jenis pendidikan. Jenis pendidikan mencakup pendidikan umum, kejuruan, akademik, profesi, vokasi, keagamaan, dan khusus.<br> 
Pendidikan akademik merupakan pendidikan tinggi program sarjana dan pascasarjana yang diarahkan terutama pada penguasaan disiplin ilmu pengetahuan tertentu. Pendidikan akademik mencakup program pendidikan sarjana (S-1), magister (S-2), dan doktor (S-3). <br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!