{:template-id "03384401c28d40639436a97836134896", :topic :math}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan mengenai potensi sumber daya alam Benua Australia di bawah ini, ya!<br>
<ol>
<li>Pertanian, Perhutanan, dan Peternakan</li>
Hasil pertanian utama di Benua Australia antara lain: biji-bijian, buah-buahan, dan gula. Sementara, hasil hutan utamanya antara lain: kayu potong, kayu panel, kertas, dan serpih kayu, eukaliptus, dan pinus. Lalu, hasil peternakan utamanya adalah wol, susu, dan daging.<br>
<li>Pertambangan</li>
Australia merupakan penghasil opal dan eksportir terbesar batubara di dunia. Selain itu, Australia juga menjadi penghasil terbesar bijih besi, nikel, uranium, dan intan.<br>
<li>Perikanan</li>
Hasil laut utama Australia di antaranya adalah ikan, lobster, udang, dan mutiara.<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									