{:template-id "0340d0a8591b4a138f0126f8b02bd085", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Bingung? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Benua Amerika merupakan benua terluas kedua di dunia yang luasnya mencapai 42.057.100 km2. Wilayahnya membentang dari Alaska di bagian utara sampai Chile di bagian selatan.<br>
Benua Amerika sering juga disebut sebagai Benua Merah karena di sana terdapat suku asli yang bernama suku Indian yang suka melumuri kulit mereka dengan cat berwarna merah.<br>
<br>
Berikut ini adalah kondisi geografis Benua Amerika secara lebih rinci.<br>
<ol>
<li>Terletak pada 170º BT – 35º BB dan 55º LS – 83º LU.</li>
<li>Batas utara: Samudra Arktik.</li>
<li>Batas selatan: Laut Weddel, Samudra Atlantik, dan Samudra Pasifik.</li>
<li>Batas barat: Samudra Pasifik.</li>
<li>Batas timur: Samudra Atlantik.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									