{:template-id "0340d188394c414faaa3f92827b1a6b7", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Berikut ini adalah kondisi geografis Amerika Serikat.<br>
<ol>
<li>Terletak pada 24º LU – 70º LU dan 172º BB – 67º BB.</li>
<li>Batas utara: Kanada, batas selatan: Meksiko, Teluk Meksiko, dan Kuba, batas barat: Samudra Pasifik, dan batas timur: Samudra Atlantik.</li>
<li>Memiliki iklim yang sangat bervariasi diantaranya terdiri iklim kontinental, iklim sedang, iklim mediteran, iklim subtropik, iklim dingin/kutub (Alaska), dan iklim tropis (Hawaii).</li>
<li>Wilayah bagian barat terdapat rangkaian Pegunungan Rocky, sedangkan di bagian tengah terdapat dataran yang sangat luas bernama Great Plains.</li>
<li>Wilayah bagian timur terdapat rangkaian Pegunungan Appalachia. Memiliki dataran pantai barat yang sempit yang menghadap ke Samudra Pasifik.</li>
<li>Kaya sumber daya geologi seperti minyak bumi, batubara, tembaga, fosfat, dan besi.</li>
<li>Di bagian utara banyak ditumbuhi pohon pinus, di bagian tengah terdapat padang rumput yang luas, dan di bagian tenggara terdapat hutan yang menggugurkan daunnya setiap tahun.</li>
<li>Memiliki jenis fauna antara lain bison, antelop, dan beruang di kawasan Midwest, puma di kawasan pesisir pasifik, armadilo, selot, dan jaguar di kawasan barat daya, serta opossum, aligator, dan buaya kardinal di kawasan selatan.</li>
<li>Penduduknya aslinya adalah suku Indian. Pada saat ini, penduduk Amerika Serikat terdiri atas orang-orang kulit putih yang sebagian besar berasal dari Inggris dan Irlandia, dan orang-orang kulit hitam atau negro yang berasal dari Afrika. Selain itu, ada pula orang-orang Asia, seperti China, India, Jepang, dan Vietnam, serta penduduk asli yaitu Indian.</li>
<li>Sebagian besar penduduknya saat ini bekerja di luar sektor pertanian.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							