{:template-id "0340d167bcf04981ab12e99c14904fbe", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Tiongkok merupakan salah satu negara dengan jumlah penduduk terbanyak di dunia. Jumlah penduduknya sebesar 1,402 miliar jiwa (Bank Dunia, 2020).<br>
Luas wilayahnya termasuk yang terbesar ke-3 di dunia, yakni sekitar 9,59 juta km2. Angka harapan hidup penduduknya cukup tinggi, yakni sekitar 77,3 tahun (Kantor Informasi Dewan Negara Tiongkok, 2019).<br>
<br>
Berikut ini adalah kondisi geografis (lokasi, iklim, bentuk muka bumi, flora, fauna, dan kondisi penduduk) Negara Tiongkok secara lebih rinci.<br>
<ol>
<li>Terletak pada 18º LU – 54º LU dan 73º BT – 135º BT. Sebagian besar daratannya berhadapan dengan Samudra Pasifik dan Laut Cina Selatan.</li>
<li>Batas utara:  Rusia, Mongolia, dan Kazakstan.</li>
<li>Batas selatan: Vietnam, Laos, Myanmar, Bhutan, Nepal, dan India.</li>
<li>Batas barat: Kirgiztan, India, dan Tajikistan.</li>
<li>Batas timur: Korea Utara, Laut Kuning, Laut Cina Selatan, dan Laut Cina Timur.</li>
<li>Sebagian besar wilayahnya beriklim subtropis. Sebagian kecil wilayahnya di selatan masuk ke dalam zona tropis.</li>
<li>Wilayah bagian barat terdapat pegunungan yang tinggi yang merupakan sambungan dari Pegunungan Himalaya.</li>
<li>Wilayah bagian utara terdapat gurun yang bernama Gurun Gobi.</li>
<li>Wilayah bagian selatan terdiri atas Daerah Aliran Sungai (DAS) Yangtze, Plato Yunan, dan Lembah Szechuan.</li>
<li>Wilayah bagian timur terdapat dataran rendah yang luas tempat sunga-sungai besar bermuara, seperti Sungai Huang Ho dan Sungai Yangtze.</li>
<li>Hutannya terdiri dari berbagai jenis, seperti hutan hujan tropis, hutan berdaun lebar, hutan gugur, hutan campuran, hutan kayu keras, dan hutan berdaun jarum.</li>
<li>Hewan khas yang dapat ditemui di antaranya panda raksasa, panda merah, salamander raksasa, dan dugong.</li>
<li>Penduduknya terkonsentrasi di bagian timur dan selatan. Mayoritas penduduknya adalah suku Han.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							