{:template-id "034159ae4e054cfc9271477b5b569de8", :topic :smp-ips}

==sepa==

<p>
{{pengantar}} {{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Halo, <i>guys</i>!<br>
Sistem kehidupan masyarakat masa praaksara terbagi ke dalam 3 tahap, yaitu masa berburu dan meramu, bercocok tanam, dan perundagian. Adapun masa perundagian adalah masa ketika seseorang sudah memiliki keterampilan tertentu. Biasanya berupa kerajinan, gerabah, perhiasan, dan pembuatan sampan.
