{:template-id "034159e0d12549938a30d4f9b1ca0cb8", :topic :smp-ips}

==sepa==

<p>
    {{pengantar}}<br>
  <ol>
    <li>{{fakta1}}</li>
    <li>{{fakta2}}</li>
  </ol>
  {{soal}}
  </p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Halo, <i>guys</i>!<br>
Kehidupan manusia masa praaksara tidak terlepas dari sistem kepercayaan yang dimilikinya. Terdapat beberapa sistem kepercayaan pada masa praaksara, antara lain.<br>
<ol>
  <li>Animisme, yaitu sebuah kepercayaan terhadap roh nenek moyang. Manusia mulai percaya adanya roh nenek moyang ketika adanya beberapa gejala alam yang sulit diketahui asal usulnya. Seperti badai hujan, angin topan, dan gunung meletus dianggap oleh manusia praaksara sebagai ciptaan dari roh.</li>
  <li>Dinamisme, yaitu sebuah kepercayaan bahwa segala sesuatu memiliki kekuatan. Biasanya kepercayaan ini berupa pemujaan terhadap benda-benda yang dianggap sakti. Salah satunya bentuk dinamisme adalah pemujaan terhadap pohon atau gunung yang dianggap sakti.</li>
  <li>Totemisme, yaitu sebuah kepercayaan terhadap hewan yang dianggap suci. Bentuk kepercayaan ini biasanya berupa pemujaan terhadap hewan-hewan yang dianggap suci.</li>
</ol>
