{:template-id "03406cf375d94e32adea0be1d7fa36fc", :topic :smp-ips}

==sepa==

<p>
    {{pengantar}}<br>
  <ol>
    <li>{{fakta1}}</li>
    <li>{{fakta2}}</li>
  </ol>
  {{soal}}
  </p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Hai, <i>guys</i>! Pada masa praaksara memiliki nilai-nilai budaya yang perlu kita pelajari di masa sekarang. Nilai-nilai budaya tersebut di antaranya:<br>
<ol>
<li>Nilai kepercayaan (religius)</li>
<li>Nilai gotong royong</li>
<li>Nilai musyawarah</li>
<li>Nilai keadilan</li>
<li>Tradisi bercocok tanam</li>
<li>Tradisi bahari</li>
</ol>										