{:template-id "03415af904d34816a1d6376b096ccc5e", :topic :smp-ips}

==sepa==

<p>
{{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Hai, <i>guys</i>!<br>
Pada masa praaksara memiliki nilai-nilai budaya yang perlu kita pelajari di masa sekarang. Nilai-nilai budaya tersebut di antaranya.<br>
<ol>
    <li>Nilai kepercayaan (religius). Contohnya ada pada masyarakat Zaman Megalitikum sudah mulai menyimpulkan hal-hal yang diluar rasional sebagai kekuatan roh atau ghaib. Selain itu, munculnya beberapa peninggalan batu besar berbentuk hewan atau manusia menjadi tanda munculnya nilai kepercayaan.</li>
    <li>Nilai gotong royong. Contohnya ada pada saat manusia sudah bercocok tanam di Zaman Neolitikum, manusia sudah mulai memikirkan kerjasama dan koordinasi dalam bekerja.</li>
    <li>Nilai musyawarah. Contohnya ada pemilihan ketua suku yang disepakati dipilih berdasarkan orang orang yang berpengaruh dan paling tua.</li>
    <li>Nilai keadilan. Nilai keadilan sudah mulai terlihat pada proses pembagian kerja di Zaman Neolitikum. Baik perempuan atau laki-laki memiliki kontribusinya masing-masing dalam bekerja.</li>
</ol>

