{:template-id "034158c74dbe4a40826c8a4ac244f616", :topic :smp-ips}

==sepa==

<p>
{{pengantar}} {{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Halo, <i>guys</i>!<br>
Manusia masa praaksara di Indonesia secara arkeologis dilewati 2 periode. Salah satu periode tersebut adalah zaman batu. Zaman batu ini ditandai oleh ditemukannya peninggalan batu. Peninggalan tersebut menjadi alat yang digunakan manusia masa praaksara dalam kehidupan sehari-hari. Adapun zaman batu terbagi ke dalam 4 zaman, di antaranya.<br>
<ol>
    <li>Paleolitikum atau zaman batu tua, yaitu zaman saat manusia masih hidup berpindah-pindah (nomaden). Selain itu, manusia pada zaman paleolitikum memperoleh makanannya dengan cara berburu. Salah satu peninggalan masa paleolitikum adalah kapak perimbas.</li>
    <li>Mesolitikum atau zaman batu tengah, yaitu zaman peralihan dari manusia yang sebelumnya nomaden dan berburu ke menetap dan bertani. Salah satu peninggalan masa mesolitikum adalah abris sous roche atau gua yang dijadikan tempat tinggal dan kjokkenmoddinger atau sampah dapur.</li>
    <li>Neolitikum atau zaman batu muda, yaitu zaman saat manusia sudah mulai menetap (sedenter) dan bercocok tanam. salah satu peninggalannya adalah kapak persegi dan lonjong.</li>
    <li>Megalitikum atau zaman batu besar, yaitu zaman ketika manusia sudah mulai mendirikan bangunan peninggalan besar. Selain itu, di masa ini juga sudah berkembang kepercayaan seperti animisme, dinamisme, dan totemisme. Salah satu peninggalannya adalah menhir atau tugu batu dan sarkofagus atau kuburan batu.</li>
</ol>
