{:template-id "03415aa0a92945d98788e2a75bb29dcb", :topic :smp-ips}

==sepa==

<p>
    {{pengantar}}<br>
  <ol>
    <li>{{fakta1}}</li>
    <li>{{fakta2}}</li>
  </ol>
  {{soal}}
  </p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Nah, <i>guys</i>.<br>
Zaman Batu pada masa praaksara di Indonesia terbagi ke dalam 4 zaman, yaitu zaman paleolitikum, mesolitikum, neolitikum, dan megalitikum. Biar paham apa yang membedakan di setiap zaman tersebut, kita perlu tahu nih, kira-kira apa saja ya peninggalan yang ada di masa tersebut.<br>
{{pembahasan}}										