{:template-id "034157ce9f244af7a6848e9a432adcec", :topic :smp-ips}

==sepa==

<p>
    {{pengantar}}<br>
  <ol>
    <li>{{fakta1}}</li>
    <li>{{fakta2}}</li>
  </ol>
  {{soal}}
  </p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Halo, <i>guys</i>! 
Sebelum mengenal lebih jauh nenek moyang Indonesia. Kita perlu tahu dulu nih, kira-kira bagaimana ya bumi terbentuk? Nah, proses berkembangnya bumi sampai sekarang, ternyata ada periodisasinya lho. Periodisasi tersebut di antaranya:<br>
<ol>
    <li>Arkaikum, yaitu masa yang berlangsung kira-kira sejak 2.500 juta tahun yang lalu. Ciri-ciri pada masa ini adalah kulit bumi masih sangat panas, belum adanya tanda-tanda makhluk hidup, dan awal mula terbentuknya lempeng, lapisan bumi, dan gunung api.</li>
    <li>Paleozoikum, yaitu masa yang berlangsung kira-kira sejak 340 juta tahun yang lalu. Masa ini sering disebut sebagai ice age (zaman es). Pada masa ini sudah mulai ada tanda-tanda makhluk hidup, perkembangan bumi belum stabil, iklim yang masih berubah-ubah, munculnya daratan es, dan curah hujan yang sangat besar.</li>
    <li>Mesozoikum, yaitu masa yang berlangsung kira-kira sejak 140 juta tahun yang lalu. Pada masa ini sudah mulai bermunculan binatang-binatang besar, yaitu dinosaurus. Selain itu, iklim di masa ini sudah mulai tropis.</li>
    <li>Neozoikum, yaitu masa yang berlangsung kira-kira sejak 60 juta tahun yang lalu. Pada masa ini, binatang-binatang besar seperti dinosaurus mengalami kepunahan dan digantikan hewan mamalia yang menyusui seperti mammoth. Selain itu, masa neozoikum ini merupakan awal dari munculnya manusia.</li>
</ol>													