{:template-id "033bd3481ae047e98a18be6eff7fa414", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Perubahan sosial budaya memiliki beberapa karakteristik sebagai berikut.<br>
<ol>
<li>Tidak ada masyarakat yang perkembangannya berhenti. Setiap masyarakat mengalami perubahan baik secara lambat maupun cepat. Contoh perubahan secara lambat adalah proses evolusi manusia dari masa prasejarah hingga masa sejarah. Contoh perubahan secara cepat adalah proses revolusi industri.</li>
<li>Perubahan yang terjadi pada lembaga kemasyarakatan tertentu akan diikuti perubahan pada lembaga-lembaga sosial yang lain. Misalnya, meluasnya birokrasi kolonial pada masa penjajahan Belanda memunculkan golongan priayi yang lepas dari ikatan keraton.</li>
<li>Perubahan-perubahan yang cepat biasanya mengakibatkan kekacauan sementara. Kekacauan tersebut akan diikuti oleh reorganisasi yang mencakup pemantapan kaidah-kaidah dan nilai-nilai yang baru. Contohnya, peristiwa reformasi diikuti oleh euforia kebebasan yang terkadang diungkapkan dengan berbagai tindakan negatif.</li>
<li>Perubahan-perubahan tidak dapat dibatasi pada bidang kebendaan atau bidang spiritual saja. Kedua bidang tersebut saling berkaitan. Contohnya, cara pandang "banyak anak, banyak rezeki" tidak lagi banyak dianut oleh masyarakat di perkotaan. Salah satu penyebabnya adalah tingginya biaya hidup di perkotaan.</li>
</ol>
Gimana, sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!