{:template-id "033bd2f8456a4dfbbdfe81239601aed7", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Kingsley Davis dalam Soerjono Soekanto (2014) mengatakan bahwa perubahan sosial merupakan bagian dari perubahan kebudayaan. Menurutnya, perubahan kebudayaan mencakup hal-hal, seperti kesenian, ilmu pengetahuan, teknologi, dan filsafat. Sementara itu, perubahan sosial mencakup perubahan pada sistem sosial, struktur, dan fungsi masyarakat. Contoh perubahan sosial adalah perubahan perilaku remaja, perubahan nilai, dan norma dalam masyarakat. Sementara, hal-hal yang termasuk perubahan budaya di antaranya adalah perubahan pada alat transportasi, alat komunikasi, serta perubahan pada bidang budaya lainnya.<br><br>
Berdasarkan penjelasan sebelumnya, terlihat bahwa perubahan sosial dan perubahan budaya saling berkaitan. Perubahan budaya dapat menyebabkan perubahan sosial dalam masyarakat atau bisa jadi dalam masyarakat terdapat perubahan sosial yang dapat menyebabkan terjadinya perubahan budaya. Akan tetapi, yang harus diingat bahwa tidak semua perubahan budaya dapat menyebabkan perubahan sosial atau sebaliknya. Dengan demikian, perubahan sosial budaya merupakan penggunaan istilah yang dapat digunakan untuk mencakup kedua jenis perubahan yang terjadi.<br>
<br>
Gimana, sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!