{:template-id "033bd37d91fe4eaaa7a369a9ee699be0", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Perubahan sosial budaya dapat dibedakan ke dalam beberapa bentuk, yaitu dilihat dari waktunya, pengaruhnya, dan perencanaannya.<br>
Dilihat dari waktu terjadinya perubahan, ada dua macam perubahan sosial budaya, yaitu perubahan cepat dan perubahan lambat.<br>
<ol>
<li>Perubahan Lambat (Evolusi)</li>
Perubahan sosial lambat atau evolusi merupakan perubahan sosial yang memerlukan waktu lama dan diikuti oleh rentetan perubahan kecil yang terjadi secara lambat. Perubahan sosial pada masyarakat tradisional dapat dikategorikan mengalami perubahan lambat ini.<br>
<li> Perubahan Cepat (Revolusi)</li>
Perubahan sosial budaya yang cepat dan menyangkut dasar-dasar kehidupan masyarakat disebut sebagai revolusi. Revolusi industri merupakan perubahan sosial budaya yang dapat dikategorikan dalam perubahan sosial cepat.<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!