{:template-id "03390b6f90984c428653ac822d85453f", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Untuk menghadapi globalisasi budaya, masyarakat harus lebih selektif dalam memilih budaya asing dengan mengambil kebudayaan-kebudayaan positif atau sesuai dengan kebudayaan lokal. Adapun cara yang dapat dilakukan khususnya oleh masyarakat Indonesia untuk menghadapi globalisasi di bidang budaya adalah sebagai berikut<br>
<ol>
<li>menyaring setiap budaya asing yang masuk ke Indonesia,</li>
<li>mempromosikan budaya asli Indonesia ke kancah internasional,</li>
<li>menyukai dan menggunakan produk-produk asli Indonesia,</li>
<li>memperkuat persatuan antarwarga Indonesia yang memiliki budaya beragam,</li>
<li>mematenkan dan memublikasikan setiap budaya Indonesia,</li>
<li>memupuk rasa kebinekaan,</li>
<li>berpegang teguh pada nilai spiritual, dan</li>
<li>meningkatkan kualitas nilai moralitas masyarakat.</li>
</ol>
Gimana, sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									