
{:template-id "8add7760406011eb922226635d7a8a5f", :topic :english}

==sepa==

<p>
 {{s1}} and {{s2}} missed {{k1}}, and this made ____ late for {{k2}}.
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
 Dalam kasus ini, kita mesti tau yg jadi object ini siapa, nah kalimat di depan itu yg <br>
 bisa bantu kita tau, yang diomongin ini maksudnya siapa. Karena berdua, jadinya objectnya plural hehe <br>
 Karena {{s2}} itu maksudnya berarti orang {{pro}} tunggal dan berarti ini berdua yang missed <br>
 Jadi jatohnya si object ini orang {{pro}} jamak. So jawabannya jadi {{pb}}.
</p>