
{:template-id "56324870468611eba53b81e59324e143", :topic :english}

==sepa==

<p>
    Harry : "I can't {{a1}}". <br>
    Tanoe : "No worries, you can ______ {{a2}}".
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
    Dari clue can't {{a1}} kita tau si Harry ga bisa ngelakuin sendiri. <br>
    Jadinya dia butuh orang lain untuk ngelakuin itu dong. <br>
    Bentuk itu namanya causative, bikin orang lain ngelakuin untuk kita. <br>
    Modelnya Have/Has Someone Done something! <br>
    Gitu, jadi jawabannya yang pas ya {{pb}}
</p>