{:template-id "03375abf771e479abbd9cddeafad87ce", :topic :math}

==sepa==

<p>
  {{head}}<br>
  {{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Jepang merupakan salah satu negara maju dari Benua Asia yang sebagian besar penduduknya bekerja di sektor industri. Jepang memiliki angka harapan hidup yang tinggi, yaitu sekitar 83 tahun (WPDS, 2015).<br>
<br>
Berikut ini adalah kondisi geografis (lokasi, iklim, bentuk muka bumi, geologi, flora, fauna, dan kondisi penduduk) Negara Jepang secara lebih rinci.<br>
1. Terletak pada 30º LU – 47º LU dan 128º BT – 146º BT atau di sebelah barat laut Samudra Pasifik.<br>
2. Batas utara: Laut Okhstosk.<br>
3. Batas selatan: Laut Cina Timur dan Laut Filipina.<br>
4. Batas barat: Korea Utara, Korea Selatan, dan Rusia.<br>
5. Batas timur: Samudra Pasifik.<br>
6. Memiliki iklim sedang karena seluruh wilayahnya berada di luar khatulistiwa.<br>
7. Memiliki wilayah dataran sekitar 30% dari luas wilayahnya. Sekitar 70–80% wilayahnya terdiri atas pegunungan.<br>
8. Memiliki sumber daya mineral yang sangat terbatas. Salah satu sumber daya mineral yang cukup terpenuhi dari negaranya sendiri adalah belerang.<br>
9. Tumbuhan yang dapat dijumpai di antaranya pohon ek, bambu, mapel, birch, beech, dan poplar.<br>
10. Hewan yang dapat ditemui di antaranya babi hutan, monyet, serigala, dan rusa.<br>
11. Penduduknya berjumlah 126,9 juta jiwa (WPDS, 2015). Meskipun jumlah penduduknya terbilang cukup tinggi, akhir-akhir ini angka kelahiran dan pertumbuhan penduduknya relatif rendah.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!<br>