
{:template-id "80f7a3b0511811eb9792effc88b33977", :topic :math}

==sepa==

<p>
    Bayangin papan catur, isinya kan persegi 8 x 8. <br>
    nah di dalem papan kayak gitu kan ada juga <br>
    persegi dengan ukuran beda2x, ada 2x2, 5x5, dll. <br>
    Nah sekarang bayangin mirip papan catur <br>
    dengan ukuran {{n}} x {{n}}. <br><br>
    Ada berapa persegi dengan <br>
    ukuran {{m}} x {{m}} di dalemnya?
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}


==sepa==

<p>
    Hehe, ini salah satu yang ga seru kalo dibahas. <br>
    Yang pasti polanya tuh ada kok, jadi coba pikirin polanya yak <br>
</p>