{:template-id "03419d4a0b384e7981f461b01d0bd870", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar jelas, ya!<br>
<br>
Proyeksi terdiri dari beberapa komponen, antara lain proyeksian, proyeksitor, garis proyektor, hasil proyeksi, dan garis hasil proyeksi.<br>
Nah, yang dimaksud dengan garis proyektor adalah garis yang mencerminkan proyeksian ke proyeksitor.<br>
<br> 
Gimana? Udah jelas? Kerjain terus soal-soal ZenPractice biar makin paham, ya!							