{:template-id "03419dba457048c38e109ac95df44855", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Nah, jawaban teman-teman udah benar atau belum? Coba simak penjelasan di bawah ini, ya!<br>
<br>
Distorsi dapat diartikan sebagai perubahan baik berupa arah, luas, atau jarak suatu hasil pengukuran terhadap bentuk aslinya. Perubahan arah bisa disebut juga sebagai rotasi atau perputaran. Perubahan luas bisa disebut juga sebagai dilatasi yang dapat berupa perbesaran atau pengecilan. Perubahan jarak bisa disebut juga sebagai translasi yang dapat berupa pergeseran atau perpindahan.<br>
<br>
Gimana? Udah jelas 'kan, ya? Asah terus pemahaman dan kemampuan kamu dengan mengerjakan soal-soal ZenPractice, ya!							