{:template-id "03419d3432ca41a6a13be55c273576c9", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar jelas, ya!<br>
<br>
Proyeksi terdiri dari beberapa komponen, antara lain proyeksian, proyeksitor, garis proyektor, hasil proyeksi, dan garis hasil proyeksi.<br>
Nah, yang dimaksud dengan proyeksitor adalah objek berupa garis atau bidang datar yang dituju. Jadi, objek yang dituju bisa salah satu dari keduanya (garis atau bidang datar).<br>
<br> 
Gimana? Udah jelas? Kerjain terus soal-soal ZenPractice biar makin paham, ya!							