{:template-id "03419cc471b94a3cb98075adde1ddd9e", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Proyeksi dapat diartikan sebagai pencerminan sebuah titik, garis, atau bidang pada suatu objek (garis atau bidang datar) sehingga menghasilkan suatu bayangan yang disebut sebagai <b>hasil proyeksi</b>.<br>
Titik, garis, atau bidang yang akan diproyeksikan dapat disebut sebagai <b>proyeksian</b>. Sementara, objek berupa garis atau bidang datar yang dituju disebut sebagai <b>proyeksitor</b>.<br>
<br>
Gimana? Udah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!							