{:template-id "0337889f9a594bb79ccb2ec1ddf2fa13", :topic :math}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Kota-kota di Asia dan benua lainnya menjadi tujuan penduduk dari desa-desa di sekitarnya. Perkembangan ekonomi yang cepat di daerah perkotaan membuat peluang kerja dan kesempatan berusaha di sana menjadi lebih besar daripada di daerah perdesaan. Sehingga, banyak penduduk desa berpindah ke daerah perkotaan.<br>
Ada sejumlah faktor yang mendorong penduduk berpindah dari desa ke kota, yaitu:<br>
<ol>
<li>Alasan ekonomi, seperti makin terbatasnya lapangan kerja di desa.</li>
<li>Faktor lainnya, seperti konflik, bencana alam, terbentuknya gurun (<i>desertification</i>), dan intrusi atau masuknya air laut ke wilayah daratan.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									