{:template-id "03390bfb7efe482892cd7479b1f43bfa", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Untuk menghadapi globalisasi di bidang ilmu pengetahuan dan teknologi (iptek), salah satunya perlu adanya kesadaran masyarakat untuk menyaring informasi yang baik dan bermanfaat. Adapun upaya-upaya untuk menghadapi globalisasi iptek adalah sebagai berikut.<br>
<ol>
<li>Berkompetisi dalam kemajuan iptek.</li>
<li>Meningkatkan motif untuk terus berprestasi.</li>
<li>Meningkatkan kualitas sumber daya manusia.</li>
<li>Selalu berorientasi ke masa depan.</li>
<li>Meningkatkan penguasaan terhadap teknologi modern di segala bidang.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!<br>														