{:template-id "033889cf795d4a4b892b6a174c979a1a", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Berikut ini adalah beberapa faktor penghambat perubahan sosial budaya.<br>
<ol>
<li>Kehidupan masyarakat yang terasing.</li>
<li>Lambatnya perkembangan ilmu pengetahuan.</li>
<li>Sikap masyarakat yang sangat tradisional.</li>
<li>Prasangka buruk terhadap hal-hal baru atau asing.</li>
<li>Pengaruh adat istiadat yang turun temurun.</li>
<li>Sikap yang tertutup.</li>
<li>Hambatan-hambatan yang bersifat ideologis.</li>
<li>Rasa takut akan terjadinya kegoyahan pada integrasi kebudayaan.</li>
<li>Kurangnya hubungan dengan masyarakat lain.</li>
<li>Adanya kepentingan yang telah tertanam dengan kuat.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									