{:template-id "0338e978e68448f096699d1c092c7510", :topic :smp-ips}

==sepa==

<p>
{{kalimat-rumpang}}<br>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan mengenai pengertian globalisasi di bawah ini, ya!<br>
<br>
Menurut Waters dalam Kamanto Sunarto (2004), globalisasi merupakan suatu proses sosial berupa kondisi ketika hambatan geografi terhadap pengaturan sosial dan budaya menjadi surut. Globalisasi membuat seluruh bangsa dan negara di dunia menjadi semakin terkait serta mewujudkan satu tatanan kehidupan baru dengan meniadakan batas geografis, ekonomi, sosial, dan budaya. Selain itu, globalisasi mengubah dunia menjadi satu kesatuan yang terwujud dalam bentuk keterkaitan antarbangsa dan antarmanusia.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!												