{:template-id "0338225d45994b9d91e49f34620028bd", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Berikut ini adalah beberapa faktor pendorong perubahan sosial budaya.<br>
<ol>
<li>Kontak dengan kebudayaan lain.</li>
<li>Sistem pendidikan yang maju.</li>
<li>Sikap menghargai hasil karya seseorang.</li>
<li>Keinginan untuk maju.</li>
<li>Toleransi terhadap hal-hal baru yang bersifat positif.</li>
<li>Stratifikasi yang terbuka.</li>
<li>Masyarakat yang heterogen.</li>
<li>Ketidakpuasan masyarakat terhadap bidang-bidang kehidupan tertentu.</li>
<li>Orientasi ke masa depan.</li>
<li>Nilai bahwa manusia harus senantiasa berikhtiar untuk memperbaiki hidupnya.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!							