{:template-id "0339f979a6ee48ae9b2014dfdec2d027", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Harga adalah salah satu komponen penting dalam transaksi jual beli barang atau jasa. Berikut ini adalah fungsi-fungsi harga.<br>
<ol>
<li>Alat pengukur dan pembeda suatu barang atau jasa.</li>
<li>Acuan nilai jual suatu barang ataupun jasa.</li>
<li>Mempermudah proses jual beli.</li>
<li>Penentu keuntungan bagi penjual atau produsen.</li>
<li>Acuan konsumen dalam menilai kualitas barang atau jasa.</li>
<li>Menentukan daya beli konsumen dalam pengambilan keputusan.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								