{:template-id "03406ba0b4f14062aeeb1ed9e2809300", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
  <li>{{fakta4}}</li>
  <li>{{fakta5}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
European Union (EU) atau Uni Eropa (UE) didirikan pada tahun 1957 yang saat itu baru beranggotakan enam negara Eropa Barat. Uni Eropa dibentuk dengan tujuan menyusun politik perdagangan bersama dan mendirikan daerah perdagangan bebas antarnegara di kawasan Eropa. Saat ini, Uni Eropa memiliki anggota berjumlah 27 negara, antara lain Austria, Belanda, Belgia, Bulgaria, Republik Ceko, Denmark, Estonia, Finlandia, Jerman, Prancis, Hungaria, Irlandia, Italia, Kroasia, Latvia, Lithuania, Luksemburg, Malta, Polandia, Portugal, Rumania, Siprus, Slovakia, Slovenia, Spanyol, Swedia, Yunani. Sebelumnya, Inggris termasuk negara anggota Uni Eropa. Akan tetapi, Inggris resmi keluar dari Uni Eropa pada tanggal 31 Januari 2020.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							