{:template-id "033a1922371b464494536ce88364f0ee", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Pasar dalam arti sempit adalah tempat berlangsungnya kegiatan jual beli barang atau jasa untuk keperluan sehari-hari. Dalam arti luas menurut ilmu ekonomi, pasar adalah proses berlangsungnya transaksi ekonomi yang tidak merujuk pada lokasi tertentu karena pasar tidak mempunyai batas geografis. Dalam hal ini, pasar merujuk kepada semua kegiatan penawaran dan permintaan untuk tenaga kerja, modal, surat berharga, dan uang.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								