{:template-id "033eb654dc6e46c5b4686bc466708990", :topic :smp-ips}

==sepa==

<p>
{{pengantar}}{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Masalah dan tantangan pendidikan di Indonesia sangat kompleks dan beragam. Salah satu kendala utamanya adalah standar pendidikan di Indonesia tidak sepenuhnya sama.<br> 
Berikut ini adalah sedikit contoh tantangan pendidikan di Indonesia.<br>
<ol>
<li>Infrastruktur dan sumber daya pendidikan yang belum merata.</li>
<li>Kualitas dan persebaran guru yang belum merata.</li>
<li>Kurangnya pengaturan proses dan target belajar siswa.</li>
<li>Lingkungan yang tidak mendukung siswa untuk belajar secara nyaman.</li>
<li>Rendahnya kemampuan akademis siswa-siswa di Indonesia.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!												