{:template-id "033b0d64c578465385568887baf26267", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Teknologi transportasi terus mengalami perkembangan dalam segi efektivitas dan efisiensi sesuai dengan kebutuhan manusia. Di setiap negara, termasuk Indonesia, perkembangan teknologi transportasi sangat dipengaruhi oleh kondisi geografis dan pengaruh budaya luar sebagai bagian dari globalisasi. Perkembangan teknologi transportasi Indonesia dapat dibagi ke dalam empat masa, yaitu masa Kolonial, masa Orde Lama (1945 s.d. 1966), masa Orde Baru (1966 s.d. 1998), dan masa Reformasi (1998 s.d. sekarang).<br>
Pada masa Orde Baru, lebih tepatnya tahun 1970, Gubernur DKI Jakarta pada masa itu, Bapak Ali Sadikin, mencanangkan helicak sebagai pengganti becak dengan menggunakan tenaga mesin. Di tahun yang sama, mikrolet dan bajaj mulai beroperasi dan menjadi salah satu moda transportasi yang populer. Setelah itu, kendaraan berbentuk mobil dengan argometer yang kita kenal sebagai taksi, mulai diperkenalkan pada tahun 1972. Lalu, pada tahun 1985, bus tingkat yang dapat menampung sekitar 200 penumpang mulai beroperasi di Jakarta. Akan tetapi, bus tingkat ini sempat redup popularitasnya sejak tahun 1990 dan mulai digunakan kembali sebagai bus wisata pada tahun 2014.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!