{:template-id "033ac6729c8641c7b2731d56f1d1b3ea", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Migrasi merupakan bagian dari mobilitas penduduk yang bersifat permanen (tetap). Migrasi dapat diartikan sebagai perpindahan penduduk dari satu wilayah ke wilayah lain dengan maksud untuk menetap di daerah tujuan.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								