{:template-id "033eb63bb2074a14804a12d42d172dab", :topic :smp-ips}

==sepa==

<p>
{{pengantar}}{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Pandemi COVID-19 telah membawa dampak yang signifikan bagi kehidupan masyarakat, salah satunya adalah pemanfaatan teknologi dalam pendidikan. Pendidikan jarak jauh selama pandemi COVID-19 mempercepat pemanfaatan teknologi untuk kegiatan pendidikan di seluruh dunia. Penggunaan teknologi dalam pendidikan memiliki kelebihan dan kekurangan.<br> 
Berikut ini adalah beberapa kekurangan penggunaan teknologi dalam pendidkan.<br>
<ol>
<li>Adanya gangguan yang dapat mengalihkan perhatian siswa.</li>
<li>Mendorong pola pikir malas akibat ketergantungan pada mesin pencari.</li>
<li>Kesulitan akses dan biaya bagi keluarga yang tidak mampu.</li>
<li>Mempermudah siswa untuk melakukan kecurangan.</li>
<li>Menimbulkan masalah kesehatan akibat terlalu lama memerhatikan gawai.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!												