{:template-id "033ae4419ede4f54a3bbe55113632663", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Sebelumnya, kita udah belajar tentang faktor pendorong migrasi, yaitu faktor penekan yang berasal dari wilayah asal dan faktor penarik yang berkaitan dengan wilayah tujuan. Salah satu contoh faktor penariknya adalah ketersediaan lapangan kerja di wilayah tujuan. Coba kita pikir, deh! Kalo lapangan pekerjaan yang tersedia di suatu wilayah lebih luas dan beragam, otomatis banyak orang yang akan meninggalkan wilayah asalnya, lalu berpindah ke wilayah tujuan tersebut. Dengan begitu, jumlah tenaga kerja di wilayah tujuan akan semakin meningkat, sehingga akan berdampak pula pada peningkatan produktivitas dan taraf perekonomian di wilayah tujuan. Selain itu, ada juga pengaruh positif lain yang bisa ditimbulkan akibat ketergantungan antarruang pada migrasi penduduk, seperti mengurangi kepadatan penduduk di wilayah asal dan mengurangi angka pengangguran di wilayah asal.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							