{:template-id "033fab46597546639ce388d3ad9a6083", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Seperti yang sudah kita pelajari sebelumnya bahwa kelangkaan adalah ketidakseimbangan antara kebutuhan dan ketersediaan alat atau barang pemuas kebutuhan. Bagaimana bentuk ketidakseimbangannya? Seiring berkembangnya peradaban, kebutuhan manusia semakin banyak, kompleks, dan beragam. Meningkatnya kebutuhan manusia tersebut tidak didukung oleh ketersediaan barang yang ada. Barang atau alat pemuas kebutuhan jumlahnya terbatas atau lebih sedikit daripada kebutuhan manusia. Hal tersebut akhirnya menyebabkan terjadinya kelangkaan.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								