{:template-id "033eb6f5f3ec4b1a97d3027e31964914", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Lembaga ekonomi merupakan bagian dari lembaga sosial yang mengatur kegiatan ekonomi secara luas seperti pasar dan perdagangan. Berikut ini adalah contoh lembaga ekonomi di Indonesia.<br>
<ol>
<li>Badan Usaha Milik Negara (BUMN), yaitu badan usaha yang seluruh atau sebagian besar modalnya dimiliki oleh negara melalui penyertaan secara langsung yang berasal dari kekayaan negara yang terpisah. Contoh BUMN antara lain PT Pertamina, Perum Bulog, Perum Damri, Bank Mandiri, Bank BRI, dan lainnya.</li>
<li>Badan Usaha Milik Swasta (BUMS), yaitu badan usaha yang didirikan dan dimodali oleh seseorang atau sekelompok orang. Contoh BUMS antara lain PT Astra Internasional Indonesia, PT Freeport Indonesia, dan lainnya.</li>
<li>Koperasi, yaitu badan usaha yang beranggotakan orang-seorang atau badan hukum koperasi dengan melandaskan kegiatannya berdasarkan prinsip koperasi, sekaligus sebagai gerakan ekonomi rakyat yang berdasar atas asas kekeluargaan. Contoh koperasi yakni koperasi konsumsi, koperasi simpan pinjam, dan lain-lain.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								