{:template-id "033eb72c4bfb4d028d9137fc669d27d6", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br> 
Menurut Undang-undang Republik Indonesia Nomor 17 Tahun 2012, jenis-jenis koperasi di Indonesia di antaranya sebagai berikut.<br>
<ol>
<li>Koperasi konsumsi, yaitu koperasi yang menjual berbagai kebutuhan barang konsumsi harian.</li>
<li>Koperasi produksi, yaitu koperasi yang menjual barang produksi anggotanya sehingga para produsen bisa mendapatkan bahan baku dengan harga lebih murah.</li>
<li>Koperasi simpan pinjam, yaitu koperasi yang memberikan pinjaman kepada anggotanya dengan tujuan membantu anggotanya yang membutuhkan uang dalam jangka pendek dengan syarat yang mudah dan bunga yang rendah.</li>
<li>Koperasi serba usaha, yaitu koperasi menyediakan beberapa layanan sekaligus, misalnya koperasi yang menjual barang-barang konsumsi sekaligus menyediakan jasa pinjaman.</li>
<li>Koperasi jasa, yaitu koperasi yang menyediakan kegiatan jasa atau pelayanan bagi anggotanya.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							