{:template-id "033ae522e56e4acc9886288546322052", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Transportasi berasal dari kata <i>transpor</i> yang berarti angkutan. Menurut <i>Kamus Besar Bahasa Indonesia</i> (KBBI), transportasi adalah pengangkutan barang oleh berbagai jenis kendaraan sesuai dengan kemajuan teknologi. Tidak hanya barang yang bisa diangkut, tetapi juga manusia. Intinya, dalam transportasi, harus ada barang atau manusia yang dipindahkan dari satu tempat ke tempat lainnya dengan menggunakan kendaraan, baik kendaraan yang digerakkan oleh mesin maupun manusia.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								