{:template-id "033b255c4bf347c28b1098dcd758c052", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Satuan pendidikan adalah kelompok layanan pendidikan yang menyelenggarakan pendidikan pada jalur formal, nonformal, dan informal pada setiap jenjang dan jenis pendidikan. Jenis pendidikan mencakup pendidikan umum, kejuruan, akademik, profesi, vokasi, keagamaan, dan khusus.<br> 
Pendidikan umum merupakan pendidikan dasar dan menengah yang mengutamakan perluasan pengetahuan peserta didik agar siap melanjutkan pendidikan ke jenjang yang lebih tinggi. Contoh program pendidikan umum antara lain sekolah dasar (SD), sekolah menengah pertama (SMP), dan sekolah menengah atas (SMA). Sementara, pendidikan kejuruan adalah pendidikan menengah yang mempersiapkan siswa untuk bekerja di bidang tertentu. Contoh program pendidikan kejuruan adalah sekolah menengah kejuruan (SMK).<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!