{:template-id "033fab2797414025a4a3409322295a74", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Kelangkaan adalah ketidakseimbangan antara kebutuhan dan ketersediaan alat atau barang pemuas kebutuhan. Kelangkaan timbul akibat kebutuhan manusia yang terus bertambah. Sementara, sumber daya yang tersedia jumlahnya terbatas sehingga tidak cukup untuk memenuhi kebutuhan hidup manusia.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!								