{:template-id "033a2bdf11a942709d6db9eb423b4de9", :topic :smp-ips}

==sepa==

<p>
{{jenis}}{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Pasar terbagi dari dua jenis utama, yaitu pasar barang (<i>output</i>) dan pasar sumber daya (<i>input</i>). Pasar barang dapat dibagi lagi ke dalam dua struktur, yaitu pasar persaingan sempurna dan pasar persaingan tidak sempurna. {{pembahasan}}<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!												