{:template-id "0340d13c10b446c4a4b831359e4d4575", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Jepang merupakan salah satu negara maju dari Benua Asia yang sebagian besar penduduknya bekerja di sektor industri. Jepang memiliki angka harapan hidup yang tinggi, yaitu sekitar 83 tahun (WPDS, 2015).<br>
<br>
Berikut ini adalah kondisi geografis (lokasi, iklim, bentuk muka bumi, geologi, flora, fauna, dan kondisi penduduk) Negara Jepang secara lebih rinci.<br>
<ol>
<li>Terletak pada 30º LU – 47º LU dan 128º BT – 146º BT atau di sebelah barat laut Samudra Pasifik.</li>
<li>Batas utara: Laut Okhstosk.</li>
<li>Batas selatan: Laut Cina Timur dan Laut Filipina.</li>
<li>Batas barat: Korea Utara, Korea Selatan, dan Rusia.</li>
<li>Batas timur: Samudra Pasifik.</li>
<li>Memiliki iklim sedang karena seluruh wilayahnya berada di luar khatulistiwa.</li>
<li>Memiliki wilayah dataran sekitar 30% dari luas wilayahnya. Sekitar 70–80% wilayahnya terdiri atas pegunungan.</li>
<li>Memiliki sumber daya mineral yang sangat terbatas. Salah satu sumber daya mineral yang cukup terpenuhi dari negaranya sendiri adalah belerang.</li>
<li>Tumbuhan yang dapat dijumpai di antaranya pohon ek, bambu, mapel, birch, beech, dan poplar.</li>
<li>Hewan yang dapat ditemui di antaranya babi hutan, monyet, serigala, dan rusa.</li>
<li>Penduduknya berjumlah 126,9 juta jiwa (WPDS, 2015). Meskipun jumlah penduduknya terbilang cukup tinggi, akhir-akhir ini angka kelahiran dan pertumbuhan penduduknya relatif rendah.<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							