{:template-id "0340d1193fab4dbc84f95d1aceda09c5", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Bingung? Simak penjelasan di bawah ini, ya!<br>
<br>
Benua Australia merupakan benua terkecil di dunia yang luasnya mencapai 8.945.000 km2. Hanya ada satu negara yang berada di benua ini, yaitu Australia.<br>
Benua Australia sering dikenal sebagai Benua Kanguru karena di sana ada hewan mamalia khas, yaitu kanguru. Di Benua Australia juga ada suku asli yang mendiami wilayah tersebut, yaitu suku Aborigin.<br>
<br>
Berikut ini adalah kondisi geografis Benua Australia secara lebih rinci.<br>
<ol>
<li>Terletak pada 113º BT – 155º BT dan 10º LS – 43º LS.</li>
<li>Batas utara: Laut Timor, Laut Arafuru, dan Selat Torres.</li>
<li>Batas selatan: Samudra Hindia.</li>
<li>Batas barat: Samudra Hindia.</li>
<li>Batas timur: Samudra Pasifik, Laut Tasman, dan Laut Coral.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									