{:template-id "0340d04dc5904d8896e5c005705cb66d", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Benua Asia merupakan benua terluas di permukaan bumi yang wilayahnya membentang dari Turki di bagian barat sampai Rusia di bagian timur. Luasnya mencapai 44.000.000 km2 atau seperempat luas wilayah daratan dunia.<br>
Hampir seluruh wilayah Benua Asia berada di belahan bumi utara (BBU). Hanya sebagian kecil yang berada di belahan bumi selatan, contohnya Indonesia.<br>
<br>
Berikut ini adalah kondisi geografis Benua Asia secara lebih rinci.<br>
<ol>
<li>Terletak pada 26º BT – 170º BT dan 11º LS – 80º LU.</li>
<li>Batas utara: Samudra Arktik.</li>
<li>Batas selatan: Samudra Hindia.</li>
<li>Batas barat: Benua Eropa, Pegunungan Ural, Laut Kaspia, Laut Hitam, Selat Bosporus, Selat Dardanella, Laut Tengah, Terusan Suez, dan Laut Merah.</li>
<li>Batas timur: Selat Bering dan Samudra Pasifik.</li>
</ol>
Gimana? SUdah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									