{:template-id "0340d1b5ce734ddaa3904a6ccab37177", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Berikut ini adalah kondisi geografis negara Brasil.<br>
<ol>
<li>Terletak pada 5º LU – 34º LS dan 47º BB – 74º BB.</li>
<li>Batas utara: Samudra Atlantik, Guyana, Suriname, Venezuela, dan Kolombia, batas selatan: Paraguay, Uruguay, dan Argentina, batas barat: Peru dan Bolivia, dan batas timur: Samudra Atlantik.</li>
<li>Sebagian besar wilayahnya beriklim tropis. Sementara, sebagian kecil wilayahnya di selatan beriklim subtropis dan di timur beriklim kering.</li>
<li>Wilayah bagian timur dan tengah terdapat Dataran Tinggi Brasilia.</li>
<li>Terdapat Lembah Amazon yang terletak di antara Dataran Tinggi Brasilia di sebelah selatan dan Dataran Tinggi Guyana di utara.</li>
<li>Wilayah bagian timur terdapat Lembah Parana-Paraguay yang sempit.</li>
<li>Memiliki hutan terkenal, yakni Hutan Amazon dengan tingkat keberagaman flora yang tinggi.</li>
<li>Memiliki fauna khas seperti jaguar hitam, ikan piranha, anaconda, dan katak kaca.</li>
<li>Mayoritas penduduknya adalah keturunan Portugis.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							