{:template-id "0340d0f4373940668c923214b8a988be", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Benua Afrika merupakan salah satu benua terbesar ketiga di dunia yang luasnya mencapai 30.290.000 km2. Benua Afrika sering disebut sebagai Benua Hitam karena mayoritas penduduknya mempunyai kulit berwarna hitam.<br>
Sebagian wilayahnya dilewati garis khatulistiwa sehingga beriklim tropis, sedangkan bagian paling utara dan paling selatan mulai memasuki zona iklim subtropis.<br>
<br>
Berikut ini adalah kondisi geografis Benua Afrika secara lebih rinci.<br>
<ol>
<li>Terletak pada 17º BB – 52º BT dan 35º LU – 34º LS.</li>
<li>Batas utara: Laut Tengah.</li>
<li>Batas selatan: Samudra Hindia.</li>
<li>Batas barat: Samudra Atlantik.</li>
<li>Batas timur: Samudra Hindia.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!																							