{:template-id "034156aef6334d88bf51de5696ddea12", :topic :smp-ips}

==sepa==

<p>
{{pengantar}} {{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Halo, <i>guys</i>! 
Sebelum mengenal lebih jauh nenek moyang Indonesia. Kita perlu tahu dulu nih, kira-kira bagaimana ya bumi terbentuk? Nah, proses berkembangnya bumi sampai sekarang, ternyata ada periodisasinya lho. Periodisasi tersebut di antaranya:<br>
<ol>
    <li>Arkaikum, yaitu masa yang berlangsung kira-kira sejak 2.500 juta tahun yang lalu. Ciri-ciri pada masa ini adalah kulit bumi masih sangat panas. Oleh karena itu, kehidupan belum ada di masa ini.</li>
    <li>Paleozoikum, yaitu masa yang berlangsung kira-kira sejak 340 juta tahun yang lalu. Pada masa ini sudah mulai ada tanda-tanda makhluk hidup, seperti mikroorganisme, ikan, amfibi, dan reptil.</li>
    <li>Mesozoikum, yaitu masa yang berlangsung kira-kira sejak 140 juta tahun yang lalu. Pada masa ini sudah mulai bermunculan binatang-binatang besar, yaitu dinosaurus.</li>
    <li>Neozoikum, yaitu masa yang berlangsung kira-kira sejak 60 juta tahun yang lalu. Pada masa ini, binatang-binatang besar seperti dinosaurus mengalami kepunahan dan digantikan hewan besar yang menyusui seperti mammoth. Selain itu, masa neozoikum ini merupakan awal dari munculnya manusia.</li>
</ol>
