{:template-id "033bf48ed98045b1b30da0429dc69c4b", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Globalisasi budaya adalah bentuk globalisasi yang berpengaruh terhadap kebudayaan manusia. Kebudayaan suatu wilayah lebih cepat masuk dan diterima di wilayah lain akibat dampak globalisasi. Contoh bentuk globalisasi dalam bidang budaya (kultur) antara lain kebudayaan asing lebih mudah masuk ke dalam negeri, gaya hidup masyarakat bergeser ke arah yang lebih modern, tren mode serta budaya internasional yang semakin diminati, dan sebagainya.<br>
<br>
Gimana, sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!			