{:template-id "033bd3d7f47549b98e104f4f72d1c44b", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Perubahan sosial budaya dapat dibedakan ke dalam beberapa bentuk, yaitu dilihat dari waktunya, pengaruhnya, dan perencanaannya.<br>
Dilihat dari perencanaannya, perubahan sosial budaya terbagi atas perubahan yang direncanakan atau dikehendaki dan perubahan yang tidak direncanakan atau tidak dikehendaki.<br>
<ol>
<li>Perubahan yang Direncanakan (<i>Planned/Intended Change</i>)</li>
Perubahan yang direncanakan atau <i>planned change</i> merupakan perubahan yang memang diinginkan dan dikehendaki oleh masyarakat atau pihak yang menginginkan perubahan. Pembangunan dapat dikatakan sebagai contoh perubahan sosial yang dikehendaki dan direncanakan.<br>
<li>Perubahan yang Tidak Direncanakan (<i>Unplanned/Unintended Change</i>)</li>
Perubahan sosial budaya yang tidak direncanakan adalah perubahan yang terjadi di luar jangkauan pengawasan masyarakat. Bencana alam seperti gunung meletus, gempa, banjir dan sebagainya akan membawa perubahan bagi masyarakat yang mengalaminya. Perubahan sosial budaya yang tidak direncanakan terkadang terjadi sebagai akibat perubahan yang direncanakan. Contohnya, banyaknya buruh tani yang kehilangan pekerjaan karena tenaganya telah digantikan oleh mesin traktor (yang merupakan perubahan teknologi yang direncanakan).<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!