{:template-id "03390c5038794f7f902591db768f978d", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Berikut ini adalah beberapa upaya yang dapat dilakukan dalam menghadapi globalisasi dalam bidang ekonomi.<br>
<ol>
<li>Menyiapkan sumber daya manusia (SDM) yang kompeten, kompetitif, dan memiliki kemampuan yang baik dalam menghadapi kompetisi globalisasi.</li>
<li>Melaksanakan standarisasi dan sertifikasi bagi perusahaan dan lembaga pemerintah untuk citra, kesungguhan, dan kualitas produk.</li>
<li>Menghilangkan praktik-praktik korupsi, kolusi, nepotisme, dan manipulasi.</li>
<li>Mendorong pengusaha-pengusaha lokal khususnya pengusaha kecil dan menengah untuk berkompetisi secara sehat.</li>
<li>Mendorong munculnya produk-produk kreatif dan inovatif dari masyarakat Indonesia.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!									