{:template-id "033bd3abdab646dd8e3454ce712ac7db", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini, ya!<br>
<br>
Perubahan sosial budaya dapat dibedakan ke dalam beberapa bentuk, yaitu dilihat dari waktunya, pengaruhnya, dan perencanaannya.<br>
Dilihat dari pengaruh yang ditimbulkan, perubahan sosial budaya terbagi atas perubahan yang pengaruhnya kecil dan perubahan yang pengaruhnya besar.<br>
<ol>
<li>Perubahan yang Pengaruhnya Kecil</li>
Perubahan yang pengaruhnya kecil merupakan perubahan yang tidak membawa perubahan pada unsur struktur sosial masyarakat. Perubahan tersebut hanya dianut oleh sebagian kecil orang yang menyukainya saja. Contohnya adalah perubahan model baju.<br>
<li>Perubahan yang Pengaruhnya Besar</li>
Perubahan yang pengaruhnya besar adalah perubahan yang membawa perubahan dalam sendi-sendi kehidupan dalam suatu masyarakat. Industrialisasi merupakan salah satu contoh dari bentuk perubahan ini.<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!