{:template-id "0338eabfe21d4afdbf6b9f626d084abc", :topic :smp-ips}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Nggak usah bingung! Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Globalisasi mempunyai ciri-ciri sebagai berikut.
<ol>
<li>Adanya perubahan dalam memaknai ruang dan waktu.</li>
<li>Terjadinya pertukaran informasi yang cepat melalui media sosial.</li>
<li>Meningkatnya masalah bersama.</li>
<li>Ketergantungan antarnegara dalam bidang ekonomi dan perdagangan.</li>
<li>Berkembangnya pertukaran kebudayaan internasional atau meningkatnya interaksi kultural.</li>
</ol>
Gimana, sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!					