{:template-id "0337fc2139ce4f8f954d2acf0520c689", :topic :math}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan mengenai fakta-fakta terkait dinamika penduduk Benua Australia di bawah ini, ya!<br>
<ol>
<li>Jumlah dan Persebaran Penduduk</li>
Jumlah penduduk Benua Australia mencapai 23,9 juta jiwa (WPDS, 2015). Penduduk aslinya adalah suku Aborigin. Sebagian besar penduduknya adalah keturunan bangsa Kaukaosid. Sebanyak 85% penduduknya tinggal di kota kecil dan kota besar yang umumnya terletak di tepi pantai.<br>
<li>Angka Kelahiran dan Kematian Penduduk</li>
Angka kelahiran penduduk Australia mencapai 13 per 1000 penduduk. Sementara, angka kematian penduduknya mencapai 7 per 1000 penduduk.<br>
<li>Laju Pertumbuhan Penduduk</li>
Laju pertumbuhan penduduk Australia mencapai 1,6% per tahun (berdasarkan data sepanjang tahun 2005 - 2015). Australia sering dijadikan sebagai negara tujuan para migran dari negara-negara konflik. Angka migrasi neto Australia mencapai angka 8.<br>
<li>Indeks Pembangunan Manusia (IPM)</li>
Berdasarkan indikator IPM, kualitas penduduk Australia tergolong sangat tinggi. Salah satu indikatornya adalah angka harapan hidup penduduknya yang tergolong tinggi, yakni mencapai 82 tahun. Hal tersebut juga mengindikasikan kualitas kesehatan penduduk yang sangat baik. Selain itu, pendapatan penduduknya juga tergolong tinggi, yakni mencapai 42.880 dolar (WPDS, 2015).<br>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!<br>							