{:template-id "03375abb5dc846ed8a80de5461aace5a", :topic :math}

==sepa==

<p>
  {{head}}<br>
  {{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Simak penjelasan di bawah ini, ya!<br>
<br>
Benua Eropa merupakan salah satu benua terkecil di dunia yang luasnya mencapai 10.355.000 km2. Benua Eropa secara fisik sebenarnya menjadi satu daratan dengan Benua Asia, tetapi karena perbedaan budaya keduanya dianggap berbeda.<br>
Benua Eropa sering juga disebut sebagai Benua Biru karena mayoritas penduduknya memiliki iris mata berwarna biru. Alasan lainnya adalah pada zaman dahulu banyak kerajaan terkenal berada di Benua Eropa sehingga dikenal adanya istilah darah biru (bangsawan).<br>
<br>
Berikut ini adalah kondisi geografis Benua Eropa secara lebih rinci.<br>
1. Terletak pada 9º BB – 60º BT dan 35º LS – 80º LU.<br>
2. Batas utara: Samudra Arktik.<br>
3. Batas selatan: Laut Tengah.<br>
4. Batas barat: Samudra Atlantik.<br>
5. Batas timur: Benua Asia.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!
