{:template-id "03375b49ff9f488385582013607b1593", :topic :math}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}
  <li>{{fakta2}}
  <li>{{fakta3}}
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Bingung? Simak penjelasan di bawah ini, ya!<br>
<br>
Mesir adalah salah satu negara di Afrika Utara dengan peradaban tertua di dunia. Negara ini berbentuk republik demokratik dan dipimpin oleh seorang Presiden sebagai kepala negaranya.<br>
Negara ini memiliki luas sekitar 1.500.000 km2 dan beribukota di Kairo. Penduduk Mesir dapat dibagi menjadi 3 kelompok, yaitu Orang Nubian (berkulit hitam), Orang Hamit (keturunan pendiri Mesir Kuno), dan Orang Arab.<br>
<br>
Berikut ini adalah kondisi geografis Mesir secara lebih rinci.<br>
<ol>
<li>Lokasi: terletak pada 25º BT – 36º BT dan 22º LU – 32º LU.</li>
<li>Batas-batas wilayah:</li>
    <ul>
    <li>Batas utara: Laut Mediterania.</li>
    <li>Batas selatan: Sudan.</li>
    <li>Batas barat: Libya.</li>
    <li>Batas timur: Laut Merah.</li>
    </ul>
<li>Bentuk muka bumi: sebagian besar wilayahnya adalah gumuk pasir atau gurun seperti Gurun Arabia dan Gurun Libya. Terdapat Semenanjung Sinai yang terdiri atas dataran tinggi dan pegunungan. Ada juga Lembah Sungai Nil yang merupakan dataran rendah yang sangat subur.</li>
<li>Iklim: memiliki iklim subtropis dan gurun. Curah hujannya rata-rata 20-200 mm/tahun. Curah hujan di wilayah utara lebih tinggi daripada wilayah selatan.</li>
<li>Flora dan fauna: flora yang dapat dijumpai adalah pohon lontar (<i>papyrus</i>), palma, kayu putih, dan akasia. Sementara, fauna yang umum dijumpai adalah domba, onta, dan keledai.</li>
<li>Penduduk: sekitar 43% penduduknya tinggal di perkotaan dan sekitar 2/3 penduduknya tinggal di daerah delta dan lembah yang subur.</li>
</ol>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!<br>					