{:template-id "03375ab9c0ca4ab49db94dd4a078b22a", :topic :math}

==sepa==

<p>
  {{head}}<br>
  {{soal}}<br>
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan di bawah ini biar paham, ya!<br>
<br>
Benua Afrika merupakan salah satu benua terbesar ketiga di dunia yang luasnya mencapai 30.290.000 km2. Benua Afrika sering disebut sebagai Benua Hitam karena mayoritas penduduknya mempunyai kulit berwarna hitam.<br>
Sebagian wilayahnya dilewati garis khatulistiwa sehingga beriklim tropis, sedangkan bagian paling utara dan paling selatan mulai memasuki zona iklim subtropis.<br>
<br>
Berikut ini adalah kondisi geografis Benua Afrika secara lebih rinci.<br>
1. Terletak pada 17º BB – 52º BT dan 35º LU – 34º LS.<br>
2. Batas utara: Laut Tengah.<br>
3. Batas selatan: Samudra Hindia.<br>
4. Batas barat: Samudra Atlantik.<br>
5. Batas timur: Samudra Hindia.<br>
<br>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!