{:template-id "0338294b3b324efd8502659413ed8ad5", :topic :smp-ips}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Gimana, <i>guys</i>? Simak penjelasan mengenai ibukota negara-negara di bawah ini, ya!<br>
<br>
<ol>
<li>Ibukota negara Indonesia adalah Nusantara.</li>
<li>Ibukota negara Malaysia adalah Kuala Lumpur.</li>
<li>Ibukota negara Brunei adalah Bandar Seri Begawan.</li>
<li>Ibukota negara Thailand adalah Bangkok.</li>
<li>Ibukota negara Singapore adalah Singapore.</li>
</ol>
Gimana? Sudah jelas? Kerjain terus soal-soal ZenPractice biar kamu makin paham, ya!<br>							