
{:template-id "35a334e049c711eb95ec1fbb61233aaf", :topic :english}

==sepa==

<p>
    {{s}} {{tobe}} _____ {{v}}.
</p>

==options==

true::{{pb}} ==
false::{{p1}}

==sepa==

DI Bindo tuh ga ada yg namanya article untuk kata benda (noun), <br>
jadi ga aneh kalo ga pake article <br>
Nah in English, aneh dengernya kalo kita nyebut ini ga pake article. <br>
So, bukan She is teacher ya, tapi She is a teacher. <br>
Tapi kalo predikatnya kata sifat (adjective), nah justru ga pake article <br>
Contoh She is awesome. <br>

Dalam kasus ini kan {{v}} itu {{spl}} jadi ya {{ketjaw}}.


