
{:template-id "8aee5620484911eb95ec1fbb61233aaf", :topic :english}

==sepa==

<p>
    Every {{kw}}, {{s}} _____ by {{o}}.
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}}

==sepa==

Ini ngetest bentuk kalimat pasif. <br>
Based on Core sentence template <br>
<br>
S + P => kalo active verb ya ikutin format grammarnya <br>
S + P => kalo passive, pake to-be plus: <br>
<br>
- Kalo Pnya passive verb ya jadi V3 <br>
- Kalo Pnya adjective yowes jadi normal aja adj <br>
- Kalo Pnya noun, ya jangan lupa kasih article yg pas (the/a/an/etc) <br>


