
{:template-id "7c44dd70487a11eb95ec1fbb61233aaf", :topic :math}

==sepa==

<p>
    a x b = p <br>
    Jika p > {{lim}} dan p bilangan {{gg}} <br>
    Maka pasangan a & b yang mungkin adalah ....
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
    Konsepnya gini, semua genap kan ada faktor 2nya ya... <br>
    Jadi perkalian dengan genap pasti hasilnya genap juga, karena si 2 keikut <br>
    Nah ganjil ga ada 2nya, jadi pasti ganjil ganjil hasilnya ya ganjil <br>
    Terus untuk hasil perkalian > {{lim}} ya bisa dikira2x lah mana yg gede
</p>
