
{:template-id "5d181f404ada11eb95ec1fbb61233aaf", :topic :math}

==sepa==

<p>
    Tentukan 3 bilangan yg pas untuk nerusin barisan ini: <br>
    {{p}} , {{q}} , {{r}} ... <br><br>

    Disclaimer: soal kayak gini sebenernya jelek kalo dibilang soal matematik
    Karena sebenernya ada banyak possible answers, tapi karena skills menginduksi itu penting
    yaudah jadi mesti ada latihannya, ini latihan untuk menginduksi
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}} ==
false::{{p4}}


==sepa==

<p>
    Ini jelas barisan yang ketebak banget lah ya... hehehe <br>
    Jawab langsung {{pb}} <br>
    <br>
    Disclaimer: soal kayak gini sebenernya jelek kalo dibilang soal matematik
    Karena sebenernya ada banyak possible answers, tapi karena skills menginduksi itu penting
    yaudah jadi mesti ada latihannya, ini latihan untuk menginduksi
</p>