{:template-id "03446a18bce94c04919ab7e6015b366e", :topic :geo}

==sepa==

<p>
{{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Ilmu geografi mempelajari segala hal yang terjadi di bumi. Untuk memudahkan pembagian hal-hal yang dipelajari, maka dibuatlah ruang lingkup ilmu geografi. Ruang lingkup geografi secara umum dapat dibagi ke dalam lima batasan, antara lain lokasi, tempat, interaksi antara lingkungan dan manusia, wilayah, dan pergerakan. Dari kelima ruang lingkup geografi, setidaknya ada beberapa pembahasan utama yang dibahas dalam ilmu geografi:<br>
<ol>
<li>Geografi mempelajari tentang persebaran dan relasi umat manusia dipermukaan bumi, aspek keruangan, tempat hidup manusia serta bagaimana manusia memanfaatkanya.</li>
<li>Geografi mempelajari hubungan timbal balik antara manusia dan lingkungan fisiknya sebagai bagian dari studi keanekaragaman wilayah.</li>
<li>Geografi mempelajari kerangka regional dan analisis dari region yang mempunyai ciri khas.</li>
</ol>									