{:template-id "0346488b0607434b9cbe52cd6e9cb0a2", :topic :geo}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
  <li>{{fakta4}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Setelah tau mengenai pengertian interpretasi citra, hal yang tak kalah penting dalam interpretasi citra adalah kunci interpretasi citra:<br>
<ol>
<li>Rona dan warna: interpretasi dengan menggunakan rona mengidentifikasi objek berdasarkan tingkat kecerahan objek, sedangkan warna mengidentifikasi objek dengan wujud tampak oleh mata tergantung panjang gelombang spektrum.</li>
<li>Ukuran: mengidentifikasi objek dengan melihat perbandingan ukuran hingga kemiringan objek. Ukuran juga berkaitan dengan dimensi panjang, luas, tinggi, kemiringan, dan volume objek.</li>
<li>Bentuk: konfigurasi kerangka objek.</li>
<li>Tekstur: tingkat kehalusan/kekasaran objek.</li>
<li>Bayangan: dihasilkan dari objek yang memiliki dimensi tinggi.</li>
<li>Pola: bentuk objek dilihat dari susunan spasial.</li>
<li>Situs: lokasi objek berhubungan dengan objek lain.</li>
<li>Asosiasi: keterkaitan antar objek.</li>
Sebenarnya dalam proses interpretasi citra kita tidak hanya menggunakan satu kunci interpretasi saja, tapi kita akan memadukan antar kunci interpretasi citra untuk menghasilkan interpretasi yang semakin akurat.<br>
</ol>																				