{:template-id "03464aa13f7f443485ca5b2b87d2c321", :topic :geo}

==sepa==

<p>
  {{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Perhitungan skala foto udara salah satunya dapat dilakukan dengan menggunakan perbandingan jarak fokus kamera dengan tinggi pesawat.<br>
Rumus yang dapat digunakan untuk menghitung skala ini adalah sebagai berikut.<br>
S = F / H<br>
Keterangan:<br>
S = skala foto udara<br>
F = fokus kamera<br>
H = tinggi terbang pesawat<br>