{:template-id "0345565b20214fc0975145ea0137faf2", :topic :geo}

==sepa==

<p>
{{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Berdasarkan isinya, peta dapat dibagi menjadi dua macam, antara lain:<br>
<ol>
<li>Peta umum, disebut juga sebagai peta dasar, yaitu peta yang menyajikan informasi spasial secara dasar seperti lokasi, ketinggian, rupa bumi, kontur, dan lain-lain.</li>
<li>Peta tematik, yaitu peta yang menyajikan informasi kenampakan yang lebih khusus sesuai dengan tema tertentu yang diinginkan, misalnya peta kepadatan penduduk, tata guna lahan, sebaran flora dan fauna, dan lain-lain.</li>
</ol>							