{:template-id "03464912477647159a70d93bcb58a2cd", :topic :geo}

==sepa==

<p>
  {{pengantar}}<br>
  {{kasus}}<br>
  {{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Dalam kegiatan interpretasi citra terdapat tahapan-tahapan yang terjadi dalam interpretasi citra sebagai berikut:<br>
<ol>
<li>Deteksi, yaitu kegiatan mendeteksi objek yang terekam pada foto udara maupun foto satelit untuk mengetahui ada atau tidaknya keberadaan suatu objek.</li>
<li>Identifikasi, yaitu kegiatan mengenali objek berdasarkan ciri-ciri spektral, spasial, dan temporal.</li>
<li>Analisis, yaitu penguraian pola keruangan objek dalam bentuk tabel, grafik, atau peta.</li>
<li>Deduksi, yaitu penarikan kesimpulan setelah pengamatan berulang.</li>
</ol>																				