{:template-id "03464387db9e4de68227878a11f88fdc", :topic :geo}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Rona adalah tingkat kecerahan atau kegelapan objek yang dapat diamati pada suatu citra. Rona dipengaruhi oleh beberapa faktor, yaitu:<br>
<ol>
<li>Karakteristik objek. Objek yang memiliki permukaan kasar ronanya akan lebih gelap dibandingkan dengan permukaan lebih halus. Objek dengan kandungan air atau basah pun lebih ronanya akan lebih gelap.</li>
<li>Cuaca. Saat cuaca berawan, rona objek dapat terlihat lebih gelap.</li>
<li>Waktu pemotretan. Waktu pemotretan seperti siang dan malam juga mempengaruhi. Saat malam hari, rona objek tentu terlihat lebih gelap dibandingkan siang hari.</li>
</ol>																				