{:template-id "03446748925b48778e7d3ed3cdafb961", :topic :geo}

==sepa==

<p>
{{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Ilmu geografi merupakan ilmu yang mempelajari persamaan dan perbedaan fenomena geosfer (meliputi litosfer, pedosfer, atmosfer, hidrosfer, biosfer, dan antroposfer) dilihat dari sudut pandang kewilayahan dan dalam konteks keruangan.<br>
Oleh karena itu, dalam mengkaji suatu fenomena, ilmu geografi memiliki ciri khas berupa pengkajian dengan memperhatikan konteks persebaran, lokasi, atau keruangan.								