{:template-id "0346426ed6734cd3bb083017bef7e07e", :topic :geo}

==sepa==

<p>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Citra nonfoto adalah citra hasil pengindraan jauh yang dihasilkan oleh sensor nonfotografi (bukan kamera).<br>
Citra ini menggunakan sensor <i>scanning</i>. Detektor yang digunakan berupa pita magnetik dan proses perekamannya dilakukan secara elektronik.<br>
Beberapa contoh citra nonfoto antara lain citra dirgantara, citra satelit, citra multispektral, dan lain-lain.					