{:template-id "034474b86ba1457aa40cd34c08d539ac6", :topic :geo}

==sepa==

<p>
{{fenomena}} {{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Konsep geografi adalah cara pandang geografi terhadap bumi sebagai tempat tinggal makhluk hidup dan bukan sebagai suatu cara untuk menginventarisasi fenomena yang tersebar di permukaan bumi.<br>
Konsep-konsep dasar geografi terbagi dari sepuluh macam, yaitu konsep lokasi, jarak, morfologi, keterjangkauan, pola, aglomerasi, nilai kegunaan, interaksi dan interdependensi, diferensiasi area, serta keterkaitan keruangan.							