{:template-id "03464982f3f041ef81816801e0c8d883", :topic :geo}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
  <li>{{fakta4}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Interpretasi citra dilakukan dalam beberapa tahapan secara berurutan, yaitu:<br>
<ol>
<li>Deteksi, yaitu kegiatan mencari, menemukan, menjumpai, atau memastikan keberadaan objek atau data yang sifatnya umum.</li>
<li>Identifikasi, yaitu kegiatan mengenali, menandai, atau mencatat objek berdasarkan ciri-ciri tertentu baik ciri spektral, spasial, maupun temporal.</li>
<li>Analisis, yaitu kegiatan mengelompokkan, menelaah, atau menguraikan data dan pola keruangan objek ke dalam bentuk tabel, grafik, atau peta.</li>
<li>Deduksi, yaitu kegiatan menyimpulkan, menarik konklusi, atau menentukan jenis objek setelah pengamatan berulang untuk validasi atau memastikan kebenaran hasil interpretasi.</li>
</ol>																			