{:template-id "034471947e644bb082228e764bcf71e6", :topic :geo}

==sepa==

<p>
{{pengantar}} {{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Objek material geografi merupakan bagian dari objek studi geografi untuk mengkaji seluruh fenomena yang terjadi di permukaan bumi baik dari aspek sosial maupun aspek fisik. Berikut ini merupakan beberapa macam objek material geografi, antara lain:
<ol>
<li>Litosfer, yaitu objek material geografi yang membahas mengenai batuan, tanah, dan lapisannya yang terdapat di permukaan bumi. Fenomena yang terdapat pada lapisan lithosfer dapat berupa gempa bumi, erosi, karst, dan lain sebagainya.</li>
<li>Atmosfer, yaitu objek material geografi yang membahas tentang lapisan udara. Fenomena yang dapat dikaji oleh objek material geografi melalui litosfer adalah terjadinya hujan, terjadinya pelangi, dan lain-lain.</li>
<li>Hidrosfer, yaitu objek material geografi yang membahas tentang segala bentuk perairan yang terdapat di permukaan bumi. Fenomena di permukaan bumi yang dapat dikaji oleh objek material geografi dalam hidrosfer adalah berupa danau, laut, sungai, gletser, arus laut, tsunami, banjir, dan lain sebagainya.</li>
<li>Biosfer, yaitu objek material geografi yang membahas tentang segala macam makhluk hidup yang terdapat di permukaan bumi. Contoh fenomena yang dapat dikaji oleh objek material geografi dalam biosfer adalah ekosistem, habitat, bioma, iklim, dan lain sebagainya.</li>
<li>Antroposfer, yaitu objek material geografi yang membahas tentang manusia dalam konteks kependudukan yang terdapat di permukaan bumi. Fenomena yang dapat dikaji oleh objek material geografi dalam antroposfer adalah kepadatan penduduk, persebaran penduduk, migrasi, fertilitas, mortalitas, perpindahan penduduk, dan lain sebagainya.</li>
<li>Pedosfer, yaitu lapisan tempat berlangsungnya pembentukan tanah yang berasal dari proses pelapukan dan erosi batuan.</li>
</ol>							