{:template-id "03464156768843b9b594e61db14851fd", :topic :geo}

==sepa==

<p>
{{pengantar}}<br>
{{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Citra foto berdasarkan spektrum gelombang elektromagnetik terbagi dari empat macam, antara lain:<br>
<ol>
<li>Foto pankromatik, citra ini merekam seluruh spektrum cahaya tampak sehingga objek yang terekam sesuai dengan kepekaan mata manusia. Panjang gelombang yang dihasilkan dengan citra foto pankromatik ini sekitar 0,4-0,7 mikrometer. Warna yang dihasilkan oleh citra foto ini menyerupai warna aslinya. Biasanya cocok digunakan untuk perencanaan wilayah dan kota.</li>
<li>Foto ortokromatik, citra foto ini didominasi oleh spektrum warna biru dan hijau. Spektrum panjang gelombang sekitar 0,4-0,56 mikrometer. Citra foto ortokromatik cocok digunakan untuk survey vegetasi atau studi hidrologi.</li>
<li>Foto ultraviolet, citra foto ini didominasi oleh spektrum warna ungu. Memiliki panjang gelombang 0,2-0,4 mikrometer. Citra foto ultraviolet cocok digunakan untuk mendeteksi tumpahan minyak dan melihat jaringan jalan.</li>
<li>Foto inframerah, citra foto ini didominasi oleh spektrum warna merah. Spektrum panjang gelombang 0,7-0,9 mikrometer. Citra ini cocok untuk mendeteksi tanaman sehat dan tanaman sakit.</li>
</ol>						