{:template-id "034643b8b7364035a108e7382e1736dc", :topic :geo}

==sepa==

<p>
  Jika {{role}} mengenali objek {{objek}} berdasarkan {{kenampakan}}, maka ia menggunakan unsur interpretasi citra ....
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Terdapat beberapa unsur yang digunakan dalam mengenali objek pada suatu citra, diantaranya:<br>
<ol>
<li>Rona, berkenaan dengan tingkat kecerahan suatu objek.</li>
<li>Tekstur, berkenaan dengan kasar/halusnya suatu objek.</li>
<li>Bayangan, yang dihasilkan dari kemiringan pengambilan gambar suatu objek.</li>
<li>Bentuk, berkenaan dengan konfigurasi/kerangka objek.</li>
<li>Ukuran, berkenaan dengan perbandingan panjang, lebar, tinggi, luas, volume, atau kemiringan objek.</li>
<li>Pola, merupakan rangkaian objek yang dilihat dari susunan spasial.</li>
<li>Situs, yaitu hubungan lokasi objek dengan objek lain yang digunakan untuk membantu mengidentifikasi objek berukuran kecil.</li>
<li>Asosiasi, yaitu keterkaitan antarobjek.</li>
</ol>																				