{:template-id "03446c40507446a884decd43f3b44b8d", :topic :geo}

==sepa==

<p>
{{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Aspek geografi merupakan gagasan, interpretasi, serta hal-hal yang dipertimbangkan dalam kajian ilmu geografi. Aspek geografi terbagi menjadi dua, yaitu aspek fisik dan aspek sosial.
<ol>
<li>Aspek fisik, yaitu aspek geografi yang menyangkut kondisi lingkungan alam di luar manusia. Contohnya, bentuk muka bumi, perairan, udara, hewan, tumbuha, serta semua fenomena alam yang dapat langsung diamati.</li>
<li>Aspek sosial, yaitu aspek geografi yang menyangkut masalah sosial, budaya, politik, dan ekonomi yang terjadi karena adanya aktivitas manusia.</li>
</ol>									