{:template-id "03455bbf36da468d976b817494aa4a84", :topic :geo}

==sepa==

<p>
  {{pengantar}}<br>
<ol>
  <li>{{fakta1}}</li>
  <li>{{fakta2}}</li>
  <li>{{fakta3}}</li>
</ol>
{{soal}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Berikut ini adalah beberapa karakteristik atau aturan penggambaran garis kontur, antara lain:<br>
<ol>
<li>Garis kontur menghubungkan tempat-tempat yang sama tinggi.</li>
<li>Semakin dekat jarak antargaris maka kemiringan lereng semakin curam. Semakin renggang atau jauh jarak antara dua kontur semakin landai suatu daerah.</li>
<li>Garis kontur tidak boleh memotong garis kontur lainnya dan tidak bercabang.</li>
<li>Garis kontur jika memotong sungai, maka akan berbentuk V terbalik dengan arah ke hulu sungai.</li>
<li>Garis kontur jika memotong jalan, maka akan berbentuk U ke arah lokasi yang lebih rendah.</li>
</ol>																							