{:template-id "03448974c85d439faaa0e8b4303d3f07", :topic :geo}

==sepa==

<p>
{{fenomena}} {{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Pendekatan geografi adalah cara pandang dan berpikir terhadap gejala yang ada di permukaan bumi, baik keadaan fisik maupun sosial. Pendekatan ruang merupakan cara pandang yang menekankan pada ruang. Kata kuncinya adalah melihat persamaan, perbedaan, dan alasan persebaran fenomena dalam suatu ruang. Untuk mengkaji suatu fenomena geosfer, setidaknya ada tiga pendekatan geografi yang sering digunakan, antara lain:
<ol>
<li>Keruangan atau spasial, yakni upaya untuk mengkaji keberagaman, persamaan, dan perbedaan fenomena geosfer dalam suatu ruang.</li>
<li>Lingkungan atau ekologi, yakni upaya untuk mengkaji gejala interaksi atau hubungan timbal balik antara komponen ﬁsik dan nonﬁsik (sosial) dengan melihat perubahan komponen biotik dan abiotik dalam keseimbangan ekosistem suatu wilayah.</li>
<li>Kompleks wilayah atau regional, yakni upaya untuk mengkaji bahwa perbedaan fenomena geografi dan karakteristik pada di antara dua atau lebih wilayah yang mengakibatkan munculnya interaksi antarwilayah dalam rangka pemenuhan kebutuhan.</li>
</ol>							