{:template-id "03455c6469fc40dda448a5f744f418bb", :topic :geo}

==sepa==

<p>
{{pengantar}} {{pertanyaan}}
</p>


==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

Interval kontur merupakan beda tinggi yang digambar antara satu garis kontur ke garis kontur berikutnya.<br>
Penentuan interval kontur pada suatu peta dihitung berdasarkan rumus berikut:<br>
<br>
CI = 1/2.000 x penyebut skala<br>
<br>
CI adalah interval kontur sedangkan angka 2.000 merupakan konstanta.						