
{:template-id "772411b047b411eb95ec1fbb61233aaf", :topic :math}

==sepa==

<p>
    {{a}} x {{b}} = ?
</p>

==options==

true::{{pb}} ==
false::{{p1}} ==
false::{{p2}} ==
false::{{p3}}

==sepa==

<p>
    Perkalian 5 itu sama aja kayak dikali 10/2. <br>
    Contoh 16 x 5 = 16/2 x 10 = 80 <br>
    Jadi bagi 2 aja dulu. <br><br>

    Perkalian 25 => sama kayak kali 100/4, jadi bagi 4 trus kali 100 <br>
    Contoh 36 x 25 = 36/4 x 100 = 900 <br><br>

    Perkalian 15 => 15x = 1.5x x 10 <br>
    Contoh 42 x 15 = 42+21 x 10 = 630 <br>
    44 x 15 = 66x10 = 660 <br>
    dst....

    INGET, Jan diapal!! dari konsepnya kebayang aja polanya kan.
</p>